[2018-07-30 17:33] bretterer opened #7 "User Integration Testing"
- [x] Get User
- [x] Activate User
- [x] Update User Profile
- [x] Suspend User
- [x] Change User Password
- [x] Get Reset Password URL
- [x] Expire User Password
- [x] Change User Recovery Question
- [x] Assign User Role
- [x] User Group Target Role

[2018-07-30 17:33] bretterer opened #8 "Group Integration Testing"
- [ ] Get Group
- [ ] List Groups
- [ ] Search Groups
- [ ] Update Group
- [ ] Group User Operations
- [ ] Group Rule Operations

[2018-07-30 17:35] bretterer opened #9 "Query Parameters added to Calls"
Need to set up the query parameters structs to allow for specifying request parameters

- [x] Q
- [x] Limit
- [x] After
- [x] Search

[2018-07-30 17:35] bretterer opened #10 "Rebuild Caching mechanism"
After the rebuild of creation of resources, Caching was removed.

This needs to be re-build using `go-cache`

[2018-07-30 17:37] bretterer opened #11 "Unit Testing"
Build out unit tests for generated resources

//Todo: fill out files to unit test

[2018-07-31 20:13] #9 closed

[2018-08-03 15:05] bretterer opened #13 "Add Discriminators"
Using x-okta-discriminator, the following need to be addressed to convert the response to the correct types.

- [ ] Application
- [ ] Factor

[2018-08-07 00:45] bretterer opened #14 "URL's for methods need extra slash removed"
The generator tool has `/api/v1/...` and the baseURL/orgURL in the config has a slash required at the end causing the final url to be built as `org.okta.com//api/v1/...`

- [ ] During generation of models, remove the slash from the url.

- [ ] Add check during config to make sure the url ends in a `/`

[2018-08-07 20:55] bretterer opened #15 "Run `gofmt` on build"
During the `make build` command, run `gofmt` after to clean up stuff.

[2018-08-08 14:30] #7 closed

[2018-08-08 14:30] #8 closed

[2018-08-09 17:45] #15 closed

[2018-08-27 17:24] bretterer opened #23 "Integration Testing for Factors"

[2018-08-27 17:24] bretterer opened #24 "Integration Tests for Applications"

[2018-09-05 21:36] nbarbettini opened #25 "Library configuration checks"
To help avoid misconfiguration, this library should implement these checks against common errors: https://oktawiki.atlassian.net/wiki/spaces/PM/pages/552049922/Library+configuration+checks

For this library, checks against Okta domain (base URL) apply.

[2018-09-06 03:08] BrentSouza commented on #24
@bretterer Hi there I am wondering what is the plan for the different application, applicationSettings, and applicationCredentials structs, e.g.: `openIdConnectApplication`, `openIdConnectApplicationSettings`, and `oauthApplicationCredentials`.

I am not incredibly familiar with Go, so please pardon my ignorance if the following is off the mark, but it looks like the way the `ApplicationResource`

[2018-09-10 18:00] PurrBiscuit opened #27 "query.WithLimit conversion panic"
with the following config...

[code]

...I get the following error when trying to use `query.WithLimit(1)`...

[code]

It looks like [this switch block](https://github.com/okta/okta-sdk-golang/blob/master/okta/query/query.go#L202) is in need of an `float64` case to convert it to a string before tacking it onto the query string.

[2018-09-12 13:04] quantumew commented on #14
Gave this a stab while I was poking around the repository, let me know what you think #31.

[2018-09-13 14:16] #13 closed

[2018-09-13 14:16] #23 closed

[2018-09-13 14:16] #24 closed

[2018-09-13 20:49] tsiq-hanyu opened #32 "Plan for Okta terraform provider"
Hi,

I am wondering if okta has any plans or schedule on releasing a terraform provider for okta management. Since terraform providers are in golang this might be a good place to ask this question.

Thanks!

[2018-09-27 15:28] tsiq-hanyu opened #34 "Using gopkg.in/yaml.v2 vs github.com/go-yaml/yaml"
Hi,

It seems that currently this repo depends on `github.com/go-yaml/yaml`, while the [document](https://github.com/go-yaml/yaml) for `go-yaml` suggests using `gopkg.in/yaml.v2`. This is causing problems with `govendor`:

[code]

Best,
Hanyu

[2018-10-01 17:47] MartinLeedotOrg opened #35 "Add ability to validate for a slice of CIDs"
Happy to make a PR for this if it's sensible.

I have an API that's accessed either through a webapp or through API tokens issued as Client IDs and Client Secrets from Okta.

I would like to validate the CID is any one of the CIDs that my access policy allows.

[2018-10-01 20:42] bretterer commented on #35
Our SDK does not do anything with CID's.  The SDK is just for management of your users/groups/applications.  Are you looking for a feature to be added to https://github.com/okta/okta-jwt-verifier-golang or am I misunderstanding what you are asking for here?

[2018-10-01 20:44] bretterer commented on #34
We are using github.com url because we are using `dep` for dependency management.  Is this an error caused by the SDK here, or a limitation of go-yaml?

[2018-10-02 15:52] tsiq-hanyu commented on #34
Hi @bretterer , thank you so much for responding to this! Yes, it seems that this is a limitation of `go-yaml`. The project explicitly discouraged importing using the github link. I am glad to know this is not cause trouble for `dep`.

Reference:  https://github.com/go-yaml/yaml/issues/349

[2018-10-02 18:13] bretterer commented on #34
Is this a blocker for you using our SDK to where we need to look at making this work with gopkg.in?

[2018-10-02 20:14] tsiq-kylel opened #36 "Okta client caching causes EOF errors"
When developing with the `Client` in https://github.com/okta/okta-sdk-golang/blob/master/okta/okta.go#L29, I noticed that repeated GETs to the same endpoint would result in `Unexpected EOF` errors. I was passing in a pointer to a struct to unmarshal the response into.

This behavior disappeared when I disabled caching in the client config. `.WithCache(false)`

[2018-10-05 15:42] viktor-yengovatov opened #38 "Proxy support not implemented"
in `requestExecutor.go`:
[code]

there no Proxy configured for Transport (`tr`)

[2018-10-05 18:06] viktor-yengovatov commented on #27
same for `query,Limit`

[2018-10-10 19:17] quantumew opened #39 "Cannot create a three field SWA app"
https://github.com/okta/okta-sdk-golang/blob/develop/okta/swaThreeFieldApplicationSettingsApplication.go#L29

Should be targetURL. Looks like the openapi spec is wrong. Not sure why some are Url but others are URL but that appears to be the way the API is. Docs are actually wrong too

https://developer.okta.com/docs/api/resources/apps#add-plugin-swa-3-field-application

The API returned an error:

[2018-10-11 15:52] quantumew opened #41 "Cannot ListApplications on develop"
Consistently returns an unmarshalling error.

[2018-10-17 13:02] nbarbettini opened #42 "Support Authorization Server API"
This API is currently not supported by this library: https://developer.okta.com/docs/api/resources/authorization-servers

Please 👍  this issue if you are interested in using this SDK to manage Authorization Server resources.

In the meantime, you can use this generic syntax to call any API (including the AS API): https://github.com/okta/okta-sdk-golang#call-other-api-endpoints

[2018-10-17 13:03] nbarbettini commented on #32
Thanks for the question @tsiq-hanyu! We don't have concrete plans to build a Terraform provider (yet), but it is something I am looking at for the roadmap.

Please keep 👍ing the above post if you are interested in Terraform!

[2018-10-17 13:17] quantumew commented on #32
There is one still in development https://github.com/articulate/terraform-provider-okta. Uses a non-official SDK where this SDK does not yet have functionality. Although an official provider would be great 👍

[2018-10-19 14:38] quantumew opened #43 "API Rate limits"
Are there any plans to build in retry/backoff logic when 429's occur? Caching will help for sure but curious if there will be further measures put in place for API Rate limiting?

[2018-10-30 11:15] thylong opened #48 "Function signatures improvement suggestion"
Hello dear maintainer!

First of all, thanks a lot for working on an open source Go SDK for the Okta API ! That's going to help a lot of companies such as BackMarket.

I opened the PR #47 recently and wondered if you're opened to suggestion in term of fucntion signature design.

As I work pretty heavily in Go and BackMarket in general is moving that way,  we're going to use Okta more and more and

[2018-10-30 15:56] basement199 commented on #48
I agree with this. Just return err and whatever the caller asked for, you can handle the response checks inside the functions. I think that is more idiomatic Go.    I built my own Okta Go SDK.   A small sample of what it looks like below.

Glad you are working on this, I will keep an eye on it.

`package main

import (
	"fmt"
	"os"

	"github.com/user/OktaSDK/errors"
	"github.com/user/OktaSDK/users

[2018-11-01 20:12] quantumew commented on #48
I disagree but I might be missing something. Would each result struct implement a `Response()` method that allows me access to the underlying `http.Response`? What if I want to implement back off/retries when I hit API rate limits? I would need access to the headers and status code. Also, I would just generally want the status code so I could react to certain situations uniquely. I do agree in mos

[2018-11-02 09:46] thylong commented on #48
Hey @quantumew, thanks for adding your thoughts to this issue, really appreciated 😊

The idea behind the idiomatic error handling approach that I suggested is to also expose clear error types (or `const`s) when any CRUD operation fails.

That way, you can completely do type assertion on your errors and determine what the underlaying problem. More on that : https://gobyexample.com/errors

In the ra

[2018-11-02 11:13] quantumew commented on #48
Thanks for the detailed explanation. That makes sense, if implemented correctly it would maintain the same flexibility.

[2018-11-30 18:17] cweagans opened #51 "user auth endpoint support"
I have some code that I wrote at work that can authenticate a user against Okta's authentication endpoint. If we opened a PR to add that support, would it be accepted? I saw the note in the readme, but it doesn't make a lot of sense to me for everyone to write their own auth code.

[2018-12-03 15:30] quantumew opened #52 "Cannot set application settings"
It is not possible to set Application settings when creating or updating an application due to the spec definition resulting in a struct without any attributes. Instead of a struct with no fields it should be `map[string]interface{}`.

This brings up a question is development on this library dead? Is there any future plans of continuing it? Just trying to decide how much time to put into a fork.

[2018-12-03 16:54] quantumew opened #53 "SAML Attribute Statement is wrong type"
SAML Attribute statements are not hooked up properly in the spec. It is of type `[]string` which is incorrect, it should be `[]*SamlAttributeStatement`.

https://developer.okta.com/docs/api/resources/apps#attribute-statements-object
https://github.com/okta/okta-sdk-golang/blob/master/openapi/spec.json#L5685
https://github.com/okta/okta-sdk-golang/blob/master/okta/samlApplicationSettingsSignOn.go#L

[2019-01-15 16:27] quantumew opened #54 "Http Client Ignored"
`okta.NewClient` takes an instance of `*http.Client` but does not pass it through to the `RequestExecutor` and thus it is not used. I have been maintaining a fork where I fix issues like this, but figured reporting them would be helpful whenever development is picked back up on this.

[2019-01-21 09:01] samjarrett commented on #51
@cweagans any chance in the interim you'd consider open sourcing it?

[2019-01-21 20:14] cweagans commented on #51
@jrthrawny would be the one to answer this. I'm no longer at the company where that code lives.

[2019-01-23 14:41] BrentSouza commented on #48
As far as the method names, I made a couple of basic additions to the generator template that can help.

`openapi/generator/index.js`
[code]

`openapi/generator/templates/model/defaultMethod.go.hbs`
[code]

Since the ModelName is used in all of the operationIds within the spec.json, this universally changes the method names to remove the redundant resource name, examples:

[code]

I'm happy to ope

[2019-02-24 18:10] adenix opened #57 "client.User.ListUsers() only lists users up to the default limit"
client.User.ListUsers() only lists up to the default limit. The README.md states that the method should list all users.

[2019-02-24 21:47] quantumew commented on #57
The API is paginated, with next/prev links in the link header. This is modulated with the `after` and `limit` query params. You can call ListUsers recursively until you run out of `after` links, with each subsequent call, you of course send the `after` param parsed from the link header. Not a maintainer but I believe that would be the recommended approach.

[2019-02-24 23:40] adenix commented on #57
I know they use the `Link` header to provide the next page link. Just calling out an inconsistency based off how the Okta NodeJS SDK operates.

[2019-02-25 01:11] quantumew commented on #57
Good deal, to be clear this isn't an inconsistency in how `ListUsers` works but rather a missing feature. The Node SDK implements the idea of a collection, which simply abstracts the pagination code. That may have been what you meant, just clarifying, I agree though, implementing a similar pagination abstraction for all List endpoints would be pretty handy. It would definitely work in an  differen

[2019-04-15 19:17] nbarbettini commented on #38
Hi @viktor-yengovatov, sorry for the long delay in responding. We're planning some work to make the Go SDK easier to use. If you were able to pass an already-constructed HTTP client (see #54) would that unblock you here?

Just curious, what do you need to configure a proxy for?

[2019-04-15 19:40] nbarbettini commented on #39
You're right, this is a bug in our docs as well. `targetURL` is correct. Sorry about that! Looking into it. Thanks for the PR 🙂

[2019-04-15 19:41] nbarbettini commented on #42
@BrentSouza Yeah, the spec file is in a private repo, so we can't accept PRs for that. Anything else we're happy to look at contribs for!

[2019-04-15 19:52] nbarbettini commented on #48
Thanks for the discussion everyone! Sorry for the long delay in responding. We had to work on some other things, but are circling back around to getting the Go SDK from beta to stable. All of your feedback is very helpful! Feel free to post any more of it, or shoot me an email at nate.barbettini@okta.com.

@thylong @basement199 Other than `RateLimitError`, what other errors would you want to see s

[2019-04-15 19:55] nbarbettini commented on #51
Thanks (and sorry for the delay!). The reason we don't include the Authentication API (`/authn`) in this library is because it is works differently than the CRUD APIs that this library works with. In other languages, we've built a separate SDK for the Authentication API which keeps things modular and clean.

We'll close this for now, but I'd love to learn more about what you're working on @samjarr

[2019-04-15 19:57] #51 closed

[2019-04-15 19:58] paulquerna-okta commented on #48
At this point, all of the function signatures should take `context.Context` as a first parameter and propagate that down to the http client as its making requests -- the idiomatic use of context.Context is now pretty common in Go compared to when this issue was first opened

[2019-04-15 22:05] nbarbettini commented on #57
Thanks for pointing it out @adenix. @quantumew is correct, this is an extra feature we added to the Node SDK that we haven't yet added here. Right now the Go SDK is pretty "low level" but we will consider doing this in the future if everyone thinks it would be useful.

I made a PR to clarify the documentation here: https://github.com/okta/okta-sdk-golang/pull/58

[2019-04-17 13:12] quantumew opened #59 "Default HTTP client does not take HTTP proxy env vars"
Having it set to proxy from env seems like a sensible default imo, feel free to close if this was intentional (i.e. you want that passed in).
Original issue and fork pr: https://github.com/articulate/terraform-provider-okta/issues/130
Where it is missing: https://github.com/okta/okta-sdk-golang/blob/master/okta/requestExecutor.go#L46-L48

[2019-05-03 19:31] tsiq-hanyu commented on #38
I encounter the same issue. I want to pass in a custom http client with special logging enabled.

[2019-05-05 19:00] hyzhangsf commented on #41
I confirm this issue.

[2019-05-05 19:06] tsiq-hanyu commented on #41
I confirm this issue.

[2019-05-07 15:19] bretterer commented on #52
Hey @quantumew .

Sorry for the lack of updates here.  We are continuing work on the SDK now and this is on our roadmap to look at.  Standby.

-Brian

[2019-05-07 15:44] quantumew commented on #52
Awesome! Maintaining a fork has worked well. I wasn’t aware of the request executor being exposed at this point. That made things easy.

[2019-05-07 15:55] bretterer commented on #52
Would love to see what you have done with your fork for the few items you mentioned.   could you point me to your fix for this as well as the other changes you have made that would love to see in a 1.0 release?

[2019-05-07 20:36] quantumew commented on #52
Here is the fork comparison. Not sure how useful it will be (some cases I think the generated code was edited) but it mostly allowed me to get past some bugs. Also added some support for retries and exponential backoffs when the API returns 429s.
https://github.com/okta/okta-sdk-golang/compare/develop...articulate:master

[2019-05-29 18:41] mcandre opened #64 "How to introspect user tokens?"
Hi, I am curious about interacting with the Okta API via okta-sdk-golang. Which Go methods provide the `/introspect` endpoint, or the `/.well-known/openid-configuration` endpoint, so that user tokens can be verified.

I see the separate okta/okta-jwt-verifier-golang library, but I wonder if the main Okta Go SDK could also provide this functionality. Would it make sense for both Okta applications a

[2019-05-31 08:17] gtourkas opened #65 "LogRequest and LogEvent.Target not according to spec; LogEvent.GetLogs crashes in unmarshalling"
Hi !

According to spec:
- LogEvent.Target should be of type []*LogTarget instead of []string
- LogRequest.IpChain should be of type []*LogIpAddress instead of []string

Unfortunately this is not the case and GetLogs returns an unmarshalling error for the  LogEvent.Target and LogEvent.Request fields.

Tried to re-generate the SDK to submit a PR but it seems that https://github.com/okta/openapi is

[2019-05-31 19:40] mcandre opened #66 "Build via normal `go build` command"
Can we please adhere to more standard Go build workflows, so that this library is easier for developers to build and install? Try to stick to pure `go build` ..., `go install` ... commands for development.

Curious if there are any pre-compilation steps like generating source code or obtaining other artifacts, that necessitate the current make-based workflow.

[2019-05-31 19:50] mcandre opened #67 "Support more client authentication mechanisms"
I think the main Okta REST API supports HTTP Basic Auth for token revocation requests, is this correct?

https://developer.okta.com/docs/api/resources/oidc/#revoke

However, the Go SDK appears to require SSWS for this. Would it be possible to allow for more Okta client authentication mechanisms, in order to match the same features available in the REST API?

[2019-06-11 20:10] ckelly-digicert commented on #66
Looking at the makefile, it appears that they are leveraging NodeJS to generate files for the build. However, I don't actually see a step where they actually "build" anything. They merely run `go fmt` on the generated files.

I'm running into the issue where a simple `go get` isn't cutting it with Go v1.12.4. They have been using dep, but now that Go Modules are a thing and will become the default

[2019-06-13 19:30] ckelly-digicert commented on #66
<update> As an update to my previous comment, I solved my `go get` issue. While `go get` was successfully pulling down the package, the import path needs to now be `github.com/okta/okta-sdk-golang/okta`.  i.e. Do this:
[code]

Don't use the import used in the examples on the doc site, as they don't work. I'll test with an older version of Go that doesn't have Modules support to see if anything cha

[2019-07-02 13:05] ykumar-rb commented on #38
You can do something like:

              proxyUrl, _ := url.Parse("http://XX.XX.XX:8080")
              tr := &http.Transport{
                             IdleConnTimeout: 30 * time.Second,
                             Proxy: http.ProxyURL(proxyUrl),
              }
              httpClient := &http.Client{Transport: tr}
              client := okta.NewClient(config, httpClient, nil)

It works f

[2019-07-02 13:26] ykumar-rb opened #69 "Query: When is plan for next merge from develop branch to master"
When is plan to merge PULL request : https://github.com/okta/okta-sdk-golang/pull/26/files from develop branch to master. I am mostly stuck at create OIDC application/client, which is fixed here.

[2019-07-10 20:49] zbuc opened #71 "Integration tests fail due to no mocks"
I am working on a project where I need to mock out Okta's API during local development and testing.

I see there are some integration tests present in this repository, but they fail due to no support for mocking Okta API responses.

How do you typically run the integration tests for this project? Do they only support running against a real Okta account?

[2019-07-10 20:55] zbuc commented on #71
I see you support passing your own `http.Client`, I am considering creating one that will provide preprogrammed responses for testing and dev purposes.

[2019-07-10 20:56] zbuc commented on #71
Hm, this looks like a difficult path because you accept only the `http.Client` struct, and not the `HttpClient` interface :/

[2019-07-12 15:02] zbuc commented on #71
I wound up getting this working with the `httptest` class.

[2019-07-12 15:02] #71 closed

[2019-07-16 14:47] bretterer commented on #52
Coming back to this bug here.  Can you give me an example of when you would work directly with an instance of `applicationSettingsApplication` and not one of the specific application settings structs.  IE, you have a `Bookmark Application` and it has a related `bookmarkApplicaitonSettingsApplication`

[2019-07-16 18:59] bretterer commented on #69
Hi @ykumar-rb
We are in the process of updating some items before we do so.  though I do not have a definite date for this, it is on our short term plan.

Please keep watching the repo for when we do the 1.0.0 release of the sdk

[2019-07-16 19:05] bretterer commented on #66
We have moved the develop branch over to using `go.mod` for all future commits.  (#60)

We are in the process of working on a few items and will be releasing a 1.0.0 version of this sdk.

We use `make build` for building the sdk as most of the files contained in the sdk are generated from an openAPI spec.  We leave it to the enduser developer to decide if they want to actually build the repo down

[2019-07-16 19:06] bretterer commented on #67
Thank you for your feedback here.

I will discuss this with the team and will update here as we know more.

[2019-07-16 19:12] quantumew commented on #52
When creating a SAML App https://github.com/okta/okta-sdk-golang/blob/develop/okta/samlApplicationSettings.go#L24

[2019-07-17 15:42] bretterer commented on #52
This should now be resolved.

[2019-07-17 15:42] #52 closed

[2019-07-17 17:05] ckelly-digicert commented on #66
@bretterer Yes, this was a doc issue that seems to have been corrected with PR-61. I'm glad to hear that all future work will be with Go Modules. Thanks!

[2019-07-17 19:00] #66 closed

[2019-07-25 17:11] quantumew opened #76 "Missing properties on SAMLAttributeStatement"
Fix in my fork https://github.com/articulate/okta-sdk-golang/blob/master/okta/samlAttributeStatement.go#L26-L27

Missing here: https://github.com/okta/okta-sdk-golang/blob/master/okta/samlAttributeStatement.go#L23

[2019-08-05 19:01] #27 closed

[2019-08-05 20:10] groggemans commented on #69
@bretterer I think this can be closed now.

Btw, a big thanks to the devs working on this! (we already use the beta for some production stuff, so we are very happy there's now a v1 release)

[2019-08-05 20:33] bretterer commented on #69
Thank you for the feedback here!  It makes us happy when our customers are happy.  Please let us know if anything comes up!

[2019-08-05 20:33] #69 closed

[2019-08-06 04:14] ykumar-rb commented on #69
Big Thanks for merging fixes sooner.

[2019-08-06 14:45] bretterer commented on #54
This has been resolved with v1.0.0 release

[2019-08-06 14:45] #54 closed

[2019-08-06 14:47] #14 closed

[2019-08-06 14:47] #34 closed

[2019-08-06 14:48] bretterer commented on #38
You can now pass in a custom http client into the okta client with the release of v1.0.0

[2019-08-06 14:48] #38 closed

[2019-08-06 14:50] bretterer commented on #41
I believe this should be resolved now. With the release of 1.0.0, there were some changes to the application spec.

Please feel free to re-open this ticket or create a new one if it is still an issue

[2019-08-06 14:50] #41 closed

[2019-08-06 14:52] bretterer commented on #43
Hey @quantumew.  Rate limit/retry is on our roadmap now.  It will be released in a future release of the library.

[2019-08-08 05:12] maxschae4 opened #81 "User credentials emails struct is incorrectly mapped"
The UserCredentials struct does not unmarshal due to miss-match between email type and the api return.
https://github.com/okta/okta-sdk-golang/blob/da407cb0985399f7ce98bc06a6fecd00ef7a7482/okta/userCredentials.go#L24
emails is actually an array of json objects like:
[code]
This results in the expected error:
`json: cannot unmarshal object into Go struct field UserCredentials.emails of type string`

[2019-08-10 14:56] quantumew opened #83 "client.requestExecutor and config are unexported"
You can no longer follow this code https://github.com/okta/okta-sdk-golang#call-other-api-endpoints. Previously I instantiated requestExecutor directly but since config is unexported you can no longer do this.  Using `client.requestExecutor` also doesn't work because it is unexported. In my opinion both should be exported for flexibilities sake. Also in general having a public function take a priv

[2019-08-10 15:34] quantumew commented on #83
Ah I just noticed this https://github.com/okta/okta-sdk-golang/blob/da407cb0985399f7ce98bc06a6fecd00ef7a7482/okta/okta.go#L106. Could you update the docs to reflect this approach? I still think taking a private struct on a public function is not great but obviously a minor grievance now that I see this.

[2019-08-16 17:34] lwalter commented on #81
+1 this is blocking us writing user management and provisioning pipelines

[2019-08-23 18:30] #81 closed

[2019-08-27 00:00] maxschae4 opened #85 "Incorrectly implemented structs referenced by OpenIdConnectApplicationSettingsClient"
While #84 resolved some issues, it has created others.

The OIDC application settings client now references incorrectly generated (empty) structs in 2 places (at least):
https://github.com/okta/okta-sdk-golang/pull/84/files#diff-bd3793555aadda0f07dcbf797d78bb2d
https://github.com/okta/okta-sdk-golang/blob/72580031ba7c471089201e8ccd4050013d6d7d94/okta/openIdConnectApplicationSettingsClient.go#L27 h

[2019-09-03 21:21] kundaliya opened #87 "Fetch Applications from okta server fails through go-sdk"
The function ListApplications of okta package (okta/application.go:104) fails to fetch list of applications. It makes a GET request to /api/v1/apps for fetching list of application and tries to parse the response in []App which fails. It should parse it to []*Application and then typecast it to []App.
Reference code:
`client, _ := okta.NewClient(context.Background(), okta.WithOrgUrl("insertURLHere

[2019-09-03 23:56] kundaliya commented on #87
Similar to #41

[2019-09-04 18:54] agiles231 commented on #43
I have written a solution called proktasy that acts a proxy between Okta REST API clients and Okta. It is easily deployed using Tomcat and resolves all rate limiting issues. Also, an SDK would have a difficult time accounting for rate limiting produced by other applications, even if using the same SDK. proktasy solves that too. Let me know if this does what you want.

[2019-09-05 16:43] quantumew opened #88 "General Endpoint Generation Question"
What is your stance on generating new endpoints for the SDK? Will this SDK ever cover Okta's entire API or are the currently missing endpoints intentionally missing?

Related docs: https://github.com/okta/okta-sdk-golang#call-other-api-endpoints.
For context the conversation started here: https://github.com/articulate/terraform-provider-okta/issues/269#issuecomment-528088591.

[2019-09-09 07:36] mousavian opened #91 "EventHooks and Events"
Hey,
Do you guys have any plan to support event hooks & events?

I've implemented structs and functions around them because I needed to but I was wondering if I can raise a PR to contribute here as well.

I noticed that existing codes are generated automatically based on [openapi spec](https://github.com/okta/openapi) (which seems to be private repo), so if you accept PRs, could you please elabora

[2019-09-20 19:57] bretterer commented on #88
@quantumew as of right now, we are only supporting the current endpoints, which is why we opened up the system to call your own endpoints. All of our endpoints we cover are generated via the openapi spec and we have strategically picked the endpoints with the most usage to start

[2019-09-21 03:46] quantumew commented on #88
Thanks @bretterer! One more request if this is the case, can we expose doWithRetries on the request executor? If I was to make a request to a XML endpoint such as SAML app or IdP metadata endpoint, I could not use Do because it is hard coded to json. It would be nice not to have to rewrite the retry logic if possible. Either that or expose a separate function that handles XML.

[2019-09-26 11:17] belyshevdenis opened #95 "Session.CreateSession(...) fails on response unmarshaling"
[Session.CreateSession method](https://github.com/okta/okta-sdk-golang/blob/master/okta/session.go#L69) fails with error: `json: cannot unmarshal string into Go struct field Session.amr of type okta.SessionAuthenticationMethod`. Example of body:
[code]
Type `okta.SessionAuthenticationMethod` corresponds to `arm` field in body example.

[2019-09-26 11:33] belyshevdenis commented on #95
It is a generator bug:
The `amr` property declared as enum as strings in spec: https://github.com/okta/okta-sdk-golang/blob/master/openapi/spec.json#L6017
But the generated type is empty struct: https://github.com/okta/okta-sdk-golang/blob/master/okta/sessionAuthenticationMethod.go#L23

[2019-10-01 05:56] rubyroobs commented on #87
@bretterer is there an ETA on when this will be fixed? We are an Enterprise Okta customer and this is causing a blocker on our integration. This is a core part of the SDK functionality (for us listing SAML applications) and it seems to be broken in all versions in the SDK.

[2019-10-01 19:07] trevor403 opened #97 "ListApplications will always fail to unmarshal from JSON"
It seems that `ListApplications` will always fail at the unmarshal step in `buildResponse` due to the provided type being an interface rather than a struct. Even though the `App` interface can be implemented by an `Application` struct, this is not a helpful generic when doing JSON decoding.

https://github.com/okta/okta-sdk-golang/blob/v1.0.1/okta/application.go#L114

I suggest changing the callin

[2019-10-03 16:58] trevor403 commented on #97
I have made an interim solution that supports returning an `[]App` type...
https://github.com/trevor403/okta-sdk-golang/commit/3ee0834818828a7ba9dfc29c8e8eca765e442b93

[2019-10-07 17:54] trevor403 commented on #97
I fixed an issue with Unmarshaling into an OpenID application struct, apparently the generator uses a struct type for openapi fields with type `string` and `enum` https://github.com/trevor403/okta-sdk-golang/commit/793d79436a5ca88707c7d031fb1642d809ec0561

These issues should really be fixed in the generator but I don't have the time to work on fixing that.

[2019-10-08 05:36] wenzuochao opened #100 "how to get saml response?"
i want to get a saml assertion by using okta apis, but i don't know how to get  sessiontoken and apitoken by using apis, could you tell which api i can use?

[2019-10-29 17:59] johnathansult commented on #57
Commenting to vote for this feature. The "fetch all users" documentation combined with the lack of pagination caused an outage for us.

[2019-11-13 07:23] pratikmallya opened #102 "Unable to use the provider to create user with hashed passwords"
The API for creating a user with a hashed password is documented here:

https://developer.okta.com/docs/reference/api/users/#create-user-with-imported-hashed-password

Example reproduced here:
[code]

However, it appears that the [PassWordCredentials](https://godoc.org/github.com/okta/okta-sdk-golang/okta#PasswordCredential) struct  does not support passing in the hash values, only the password.

[2019-11-14 00:09] pratikmallya opened #103 "GET response caching is broken"
The caching mechanism in the SDK is broken. On cache hits, the response body seems to be `nil`. I've attached a small golang script that can be used to reproduce this issue:

[code]
I'm pretty confident about the caching being the issue as it goes away when I disable the cache with:
[code]

The past couple of issues have made me question the value of using this SDK; probably going to stop reportin

[2019-12-05 04:11] #91 closed

[2019-12-17 23:32] lmatter commented on #85
I had to change the types to just `string`, as apposed to `[]string` in the commit diff.  Otherwise I would get `cannot unmarshal string into Go struct field LogAuthenticationContext.credentialType of type []*okta.LogCredentialType`

[2020-01-15 19:11] ravenoak opened #106 "ListFactors fails due to JSON unmarshal to okta.UserFactor"
The `ListFactors` method fails with:

`json: cannot unmarshal object into Go value of type okta.UserFactor`

This is always reproducible.

[2020-01-15 20:34] jamesgoodhouse commented on #106
Doing a little digging into the code reveals that an attempt is being made to [unmarshal the response into an interface](https://github.com/okta/okta-sdk-golang/blob/master/okta/factor.go#L78) (`UserFactor`) instead of a concrete type such as `CallFactor` or `SMSFactor`. This is not possible.

One avenue to take to fix this is to create a new concrete type and unmarshal into that. For example, ins

[2020-01-15 21:06] ravenoak commented on #106
It seems that the interfaces should implement `UnmarshalJSON` in order to properly unmarshal the profile into their respective structs.

https://endophage.com/post/golang-parse-to-interface/

[2020-02-14 22:32] bretterer commented on #85
@maxschae4 & @lmatter - We will be updating the Golang SDK soon, and we will address these issues at that time.  Thank you for the PR, as it will more than likely be included in the update.

I do not have a definitive time this will be finished, so please keep an eye on this ticket for updates.

[2020-02-14 22:33] bretterer commented on #87
@rubyroobs - We will be updating the Golang SDK soon, and we will address these issues at that time.

I do not have a definitive time this will be finished, so please keep an eye on this ticket for updates.

[2020-02-21 06:30] msiuts commented on #57
Is this project actively maintained by Okta? The PR for the documentation update is unhandled, the nightly build is failing and in general it feels like most of the issues are not addressed in a timely fashion.

According to the Readme this project is "released", but it is not mentioned on https://developer.okta.com/code/library-versions/#current-versions and on this page there is no definition fo

[2020-02-28 23:19] klauern opened #111 "Is this repo active?"
A list of issues I've stumbled on, which lead me to believe this project has died:

* 404's in the README in multiple places
* `Makefile` clones non-existent repos
* Travis builds are all failing
* A dozen PR's without any activity
* Last commit made to `master` was from September of last year
* Travis is building off of Go `1.12` and `tip`

So I have a lot of concerns about whether it's worth the

[2020-03-03 18:07] jamesgoodhouse commented on #111
I opened a PR back in January and haven't heard a peep from anyone. Might be worth reaching out to support to get things moving with this repo.

[2020-03-04 12:56] varun0002 opened #113 "assignment mismatch okta.NewClient"
While using:
client := okta.NewClient(context, okta.WithOrgUrl("https://{yourOktaDomain}"), okta.WithToken("{apiToken}"))
user, resp, err := client.User.GetUser(user.Id, nil)

Getting following error:
./main.go:: assignment mismatch: 1 variable but okta.NewClient returns 2 values
./main.go:: undefined: context
./main.go:: undefined: user

[2020-03-05 12:45] varun0002 commented on #113
Figured-out myself, we need to add , okta.WithCache(false)

[2020-03-05 12:45] #113 closed

[2020-03-24 15:25] weibelben opened #115 "DeleteGroup Call Returns 404"
I am unable to delete okta groups from my go code. I have tried using both the SDK and the "raw" request executor but I am given the following error in both cases:

`The API returned an error: The endpoint does not support the provided HTTP method`

Here are some snippets of my code for the attempts I mentioned, respectively:
[code]
[code]
where cli is my *okta.Client

[2020-03-27 22:08] jeffg-hpe commented on #43
I would like to see the go sdk be proactive about backoff based on [rate limit headers](https://developer.okta.com/docs/reference/rate-limits/#check-your-rate-limits-with-okta-s-rate-limit-headers).  Rather than waiting for a `429` to occur.

[2020-03-30 16:30] chrismorris-okta commented on #111
@klauern Thanks for sharing the list of issues.

Yes, this repo is still active. We just released OAuth support this month. We have several new releases planned in the coming months. I'm going to go ahead and close this issue but we'll look into addressing some of those issues you raised in our upcoming releases.

[2020-03-30 16:30] #111 closed

[2020-03-30 18:05] chrismorris-okta commented on #43
hey @quantumew. We've added this in release 1.1.0. Here's the PR. Thanks for opening the issue. https://github.com/okta/okta-sdk-golang/pull/93

[2020-03-30 18:05] #43 closed

[2020-04-02 08:49] goblain commented on #85
@bretterer "We will be updating the Golang SDK soon" - how soon is soon ? this actually blocks us from writing integration with okta in our apps provisioning agent.

[2020-04-02 09:14] goblain opened #117 "running generator locally"
when running `make build` I get

    yarn run v1.22.4
    $ okta-sdk-generator -t generator -o ../
    /bin/sh: 1: okta-sdk-generator: not found

and it looks like the script is indeed missing from the repo. Am I just confusing things or is there a missing piece to actually run generator after cloning the repo ?

[2020-04-02 23:36] max-aigner commented on #103
I came across this yesterday as well. The caching layer doesn't copy the response correctly -- after reading the body bytes it should replace the io.ReaderCloser in *both* the original and the copied response but it only does so in the copy. Therefore, the response body of the original response can't be read anymore and will just return nil. I have a fix for my forked repo but need to do some more

[2020-04-03 17:09] weibelben commented on #115
The problem was that I had created a group struct using an existing group name (insead of accessing the existing group struct with a pointer) and then tried to access its ID when I called delete. The ID of the struct was nil, causing the okta endpoint to properly choke and spit up an error code.

[2020-04-03 17:09] #115 closed

[2020-04-03 17:42] chrismorris-okta commented on #85
@goblain We are currently in the middle of developing a major release for this SDK. The upcoming version should be released in the next month or so. Given the extensive changes in that version it's possible the issue may be resolved. If it’s not resolved in that release, we’ll certainly look to include this fix in a follow-up release shortly thereafter.

Unfortunately, I'm not able to provide spec

[2020-04-07 08:21] johanbrandhorst commented on #65
I think both of the mentioned issues have been fixed, however, `LogEvent.GetLogs` is still failing to unmarshal the response, due to the incorrect use of the `authenticationContext` `LogAuthenticationContext.CredentialProvider`. In the generated client it is a slice of `*LogCredentialProvider` which does not line up with the definitions on the documentation (https://developer.okta.com/docs/referen

[2020-04-07 09:30] johanbrandhorst opened #118 "Use official generated Go file header"
The format for a header that can identify any generated Go file was decided in https://github.com/golang/go/issues/13560#issuecomment-288457920. The current generated files do not conform to this. We should change the generated code to output in this format.

I intend to submit a PR to fix this.

[2020-04-07 10:17] johanbrandhorst commented on #111
I almost opened another issue exactly like this. I think it might be better to leave this issue open for clear communication to users, since the state of the repo is still pretty bad. When the proper changes and updates have been made we can close it.

[2020-04-07 19:01] bretterer commented on #117
@goblain within the `openapi` folder, did you run `yarn install`?  This is required so you can get our generator tool

However, is there a reason you need to run `make build`, the repo should have everything you need already built

[2020-04-07 19:01] bretterer commented on #100
@wenzuochao Is there a specific endpoint on the API you are working with that is not handled?

[2020-04-07 19:03] bretterer commented on #97
@trevor403 In our pre-release for v2.0.0, this should be addressed.  It returns a list of `okta.Application` objects that you can then use to get the concrete type.

https://github.com/okta/okta-sdk-golang/releases/tag/v2.0.0-rc.1

[2020-04-07 19:09] bretterer commented on #102
@pratikmallya Thank you for this feedback.  I have just tagged a release candidate for 2.0.0, https://github.com/okta/okta-sdk-golang/releases/tag/v2.0.0-rc.1 which includes a `okta.v2/passwordCredential.go` update to include a `[Hash](okta.v2/passwordCredentialHash.go)`

Please check out the new tag and see if this resolved what you are looking to do

[2020-04-07 19:11] bretterer commented on #88
Hey @quantumew.  I have just released a [release candidate ](https://github.com/okta/okta-sdk-golang/releases/tag/v2.0.0-rc.1) for version 2.0.0 which includes all documented endpoints.  This also allows you to set the content type and accept headers during a call.  does this solve your issue?

[2020-04-07 19:15] bretterer commented on #39
@quantumew Thanks for you report here.  This is tagged to be fixed in v2.0.0

[2020-04-07 19:19] bretterer commented on #42
This is resolved by [v2.0.0-rc.1](https://github.com/okta/okta-sdk-golang/releases/tag/v2.0.0-rc.1)

If this is still an issue, please open a new ticket explaining what is going on.

[2020-04-07 19:19] #42 closed

[2020-04-08 15:33] trevor403 commented on #97
Wonderful let's close this issue once a release is cut

[2020-04-08 22:42] kundaliya commented on #87
Hi @bretterer I wanted to check if you got a chance to get this fixed in v2? This is a simple issue happening because response is being unmarshalled into an interface instead of a struct. Also, when is v2 expected to be released?

[2020-04-10 06:07] p0pr0ck5 opened #121 "Build fails based on JWT signer package incompatability"
Trying to build a simple app with the library fails with:

[code]

[2020-04-10 22:39] robertjd commented on #65
Thanks @johanbrandhorst for the info.  We'll get this fixed shortly, we're actually working on a new major rev of all our SDKs with an updated OpenAPI spec. We currently have a 2.x RC of this SDK available, see the README for details.  It doesn't yet include a fix for this issue, but I just fixed it in our spec so you'll see it come to this SDK before we have the official 2.x release.

[2020-04-13 11:36] goblain commented on #117
yea, the reason is that this sdk is a royal pain to use and I wanted to make some fixes, had to make some workaround in the meantime so no longer relevant

[2020-04-13 11:36] #117 closed

[2020-04-14 11:58] johanbrandhorst opened #122 "Don't panic on simple configuration errors"
The okta.NewClient method panics on any configuration validation errors, instead of returning the error itself. This is an undesirable property of a library, and I propose changing it to return the error to the user instead.

The offending line is here:
https://github.com/okta/okta-sdk-golang/blob/master/openapi/generator/templates/okta.go.hbs#L61.

I intend to submit a PR to fix this. It is also

[2020-04-17 16:12] johanbrandhorst opened #125 "Nil pointer dereference in requestExecutor.go"
Hi!

I ran into a panic in testing which I think can happen in real code as well:
[code]

The offending code is here:
https://github.com/okta/okta-sdk-golang/blob/master/okta/requestExecutor.go#L245

The issue is that `resp` can sometimes be nil in this case. Clearly, this is already considered on the lines above:

https://github.com/okta/okta-sdk-golang/blob/master/okta/requestExecutor.go#L238-L2

[2020-04-21 08:24] bandikishores opened #127 "Unable to use okta-sdk-golang V2"
The [Getting Started](https://github.com/okta/okta-sdk-golang#getting-started) Documentation Suggests using V2 version of SDK and 1.x is deprecated.
However it looks like V2 version is unavailable.

[code]

Is the V2 Version available for use or should we go with V1?

[2020-04-28 16:05] aviram120 commented on #121
I also have this error/ conflict.
There is any solution for that bug?

[2020-04-29 15:56] edulop91 commented on #127
You might be able to use it by changing the import path to `"github.com/okta/okta-sdk-golang/v2/okta`

[2020-04-29 18:57] bandikishores commented on #127
@edulop91 Ah, Thanks. Can't believe I missed this. I'll keep the ticket open for documentation correction then.

[2020-04-29 20:28] bretterer commented on #127
@bandikishores thanks!  We are working on releasing v2.  while it is in `rc` status, things may change a bit, so you should not expect the API to be defined fully. I will make sure we update the `go get` command to use, but yes, you would want to use `github.com/okta/okta-sdk-golang/v2` for your imports

[2020-04-29 20:30] bretterer commented on #121
Could I ask, what you are doing with your `go build` command, are you trying to build the SDK, or a package of yours that uses the SDK?

[2020-04-30 03:10] aviram120 commented on #121
We are using the SDK in our code.

[2020-04-30 05:06] rizkyekoputra opened #130 "Email register not received"
Hi, I try to create new user with option `WithSendEmail(true)` but not got any email, how can I fix it?

[2020-05-13 19:58] bretterer commented on #121
This will be resolved in the v2 release of the sdk.  You can check out one of the v2 release candidates on the releases tab.

[2020-05-14 18:58] bretterer commented on #125
This will be addressed in `v2.0.0-rc.4`. Thank you @johanbrandhorst for the fix.  I implemented it outside of the PR during some other updates.

[2020-05-14 18:58] #125 closed

[2020-05-14 18:58] #121 closed

[2020-05-15 12:26] AlekSi opened #131 "Invalid tag v2.0.0-rc.4"
It was tagged in `master` branch, not `sdk_v2` branch.

![image](https://user-images.githubusercontent.com/11512/82050812-72f90b80-96c1-11ea-86d9-aa2a5ab50c69.png)

[2020-05-21 13:54] bretterer commented on #48
So, we have been doing a lot of work on the SDK lately.  In v2.0.0 (which is in RC state at the moment), we introduced `context.Context` to all methods.  At this point, we are not going to be modifying the method names to remove the resource name at this time due to some other requirements we have.
We do plan to continue returning all three (the object, response, and error) for all methods that re

[2020-05-21 13:54] #48 closed

[2020-05-21 14:08] bretterer commented on #83
Updated and will be in v2.0.0-rc.5

[2020-05-21 14:08] #83 closed

[2020-05-21 15:29] bretterer commented on #103
@pratikmallya: Thank you for the report, sorry for the long delay. We are currently working on v2.0.0 and this is tagged to be fixed.  I have currently written a test that re-produces the results you mentioned above. Thank you for the reproduction code, that was very helpful.

I am not sure how this got though in the first place, and sorry it delayed you and possibly caused you to go away from the

[2020-05-27 04:40] oorahduc commented on #127
`go get github.com/okta/okta-sdk-golang/v2
package github.com/okta/okta-sdk-golang/v2: cannot find package "github.com/okta/okta-sdk-golang/v2" in any of:
	/Users/oorahduc/.gvm/gos/go1.14.3/src/github.com/okta/okta-sdk-golang/v2 (from $GOROOT)
	/Users/oorahduc/code/go/src/github.com/okta/okta-sdk-golang/v2 (from $GOPATH)
`

I have tried `github.com/okta/okta-sdk-golang/v2`, `github.com/okta/okta-s

[2020-05-28 09:32] goblain opened #135 "v1.0.0 no longer creates users"
User creation with v1.0.0 no loger works

[code]
[code]
[code]

[2020-05-28 10:54] goblain commented on #85
this bug is still present in `sdk_v2`

[2020-05-28 14:37] bretterer commented on #95
I have submitted an update that will be released in v2.0.0-rc.5 to make all the objects that are enums in the spec as `type string` instead.  This will solve the issues we have been having around this.

Resolved in 01d8997

[2020-05-28 14:37] #95 closed

[2020-06-05 16:26] chrismorris-okta commented on #32
There's an open-source terraform provider for Okta here. This is certified by Hashicorp.  https://github.com/terraform-providers/terraform-provider-okta/

[2020-06-08 09:29] #131 closed

[2020-06-09 16:31] bretterer commented on #135
@goblain thank you for the report. We are currently investigating this issue.

We have released v2.0.0 which has a bunch of new updates, but does include breaking changes, which is why the major version change. Have you had a chance to check out v2?

[2020-06-09 18:15] bretterer commented on #85
@goblain this should now be addressed in the official v2 release that is on master.

These objects are treated as `type string` now which should solve the problems you were having

[2020-06-12 16:04] patluri43 opened #141 "Backoff logic based on the ratelimit headers before hitting the ratelimits"
Hi,

Can the SDK provide Backoff logic based on the Ratelimit headers before hitting the ratelimits by looking at the response header.

[2020-06-15 14:36] rizkyekoputra commented on #127
same here, got error when doing go get

[2020-06-15 14:51] bretterer commented on #127
@oorahduc @rizkyekoputra Thanks for reporting this.  I will take a look at this today.  I am not sure what is happening at the moment as I have not been able to reproduce this issue

[2020-06-15 15:30] bretterer commented on #127
@oorahduc @rizkyekoputra Can you both try using `go.mod` instead of `go get`?

[code]

This works for me and may be the best way at this point for v2 of the sdk.  If this works for you, I will update docs to reflect this.

[2020-06-16 03:53] rizkyekoputra commented on #127
@bretterer Already use go.mod for development, but I still need using `go get` for CI purpose on GitLab, cause my app will download all app dependencies which is got an error on go get okta v2

[2020-06-16 14:33] bretterer commented on #127
@rizkyekoputra I have still not been able to reproduce the issue when doing `go get github.com/okta/okta-sdk-golang/v2`.  I know there are known issues with semver and using `go get` which is why we opted to support `go mod` which should work fine with CI.  As long as you have access to go mod which you do in go11+, you should be able to tell your CI to do `go mod download` which will create a ven

[2020-06-26 23:05] noinarisak opened #143 "Support Administrator Roles API endpoints"
Particular looking for support on  `/api/v1/groups/${groupId}/roles` endpoint.

https://developer.okta.com/docs/reference/api/roles/#list-roles-assigned-to-a-group
https://developer.okta.com/docs/reference/api/roles/#assign-a-role-to-a-group
https://developer.okta.com/docs/reference/api/roles/#unassign-a-role-from-a-group

[2020-07-08 18:17] bretterer commented on #143
Hello!   These endpoints are covered currently off the Group object.

Group.ListGroupAssignedRoles -> https://github.com/okta/okta-sdk-golang/blob/master/okta/group.go#L298
Group.AssignRoleToGroup -> https://github.com/okta/okta-sdk-golang/blob/master/okta/group.go#L320
Group.RemoveRoleFromGroup -> https://github.com/okta/okta-sdk-golang/blob/master/okta/group.go#L342

Does this guide you into the

[2020-07-08 21:05] noinarisak commented on #143
Thanks @bretterer! Good to know and have to dig deeper before submitting an Issue. I maintain the Terraform Okta Provider and want to know what the volume of work it would take to move to v2. The Terraform provider is on v1.1 at the moment and there seem to be some breaking changes.

Keep up the great work, fellow Oktanaut!

[2020-07-17 08:23] ikawalec opened #145 "No error summary when calling API with access token with insufficient scope"
# Steps to reproduce:

1. I've created a client credentials client using:
https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/create-publicprivate-keypair/
This client has only `okta.apps.manage` scope assigned.

2. Now I get an access token for this client (note that I'm also requesting additionall scope `okta.groups.read` here)
`curl -v -k "https://${yourOktaDomain}/oauth2

[2020-07-17 16:11] #143 closed

[2020-07-18 22:12] ymylei opened #147 "Convert uses of time to int64"
In the configuration items "WithConnectionTimeout" and "WithRequestTimeout"; the type used for these time focused items is i32.

The standard lib for golang "time" emits those time types as i64. This SDK should convert it's time objects to use i64 to be consistent with the standard lib's "time".

https://pkg.go.dev/time?tab=doc

[2020-07-18 23:03] ymylei opened #148 "Add SamlGroupAttributeStatement type"
We currently have [SamlAttributeStatement](https://pkg.go.dev/github.com/okta/okta-sdk-golang/v2@v2.0.0/okta?tab=doc#SamlAttributeStatement)

Which corresponds to [Attribute Statement object](https://developer.okta.com/docs/reference/api/apps/#attribute-statements-object)

We should add a SamlGroupAttributeStatement type which goes with [Group Attribute Statement object](https://developer.okta.com

[2020-07-19 06:54] ymylei opened #149 "Using wrong cache implementation"
https://github.com/okta/okta-sdk-golang/blob/3737e52908b03014afa17c788211fe06f3fdef96/okta/config.go#L22

I'm pretty sure this should be using v2?

[2020-07-22 11:14] artemgavrilov opened #153 "Omitempty fields in OktaSignOnPolicyRuleSignonSessionActions struct break Okta API request validation rules"
According to [documentation](https://developer.okta.com/docs/reference/api/policy/#signon-session-object) Signon Session object fields are optional. However, for that request Okta API returns an error with summary `actions.signon.session.maxSessionLifetimeMinutes: The field cannot be left blank`.

[code]

With curl I can just add required fiedls with default values `"session":{"maxSessionIdleMinut

[2020-07-25 06:10] ymylei opened #154 "Duplicate policy rule function"
https://github.com/okta/okta-sdk-golang/blob/3737e52908b03014afa17c788211fe06f3fdef96/okta/policy.go#L256

and

https://github.com/okta/okta-sdk-golang/blob/3737e52908b03014afa17c788211fe06f3fdef96/okta/policyRule.go#L40

I suppose more in general, there is update and delete in the "PolicyRuleResource", but full CRUD in the "PolicyResource" for rules. I think those should be consolidated.

[2020-08-01 03:53] nikhilpulluri opened #155 "Error While building the sdk locally"
I am getting below error when trying to build the sdk locally, can someone help me on the issue

Generating SDK Files...
cd openapi && yarn generator
yarn run v1.22.4
$ okta-sdk-generator -t generator -o ../
/bin/sh: okta-sdk-generator: command not found
error Command failed with exit code 127.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
make[1]: *** [gener

[2020-08-18 15:41] haishengwu-okta opened #156 "Missing link of Okta+Golang doc"
In readme

but the link is 404: https://github.com/okta/okta-sdk-golang/blob/master/lang-landing

[2020-08-18 17:43] bretterer commented on #156
Thanks @haishengwu-okta.   We will get that fixed

[2020-08-18 20:44] #156 closed

[2020-08-18 20:52] haishengwu-okta commented on #156
Thank you your quick feedback @bretterer !!

[2020-08-27 21:59] rdegges opened #158 "Getting started docs don't explain enough"
The getting started docs don't explain very much. They aren't sufficient for explaining how to get started using this library in a project. Here's what they look like today:

![Screenshot from 2020-08-27 14-58-32](https://user-images.githubusercontent.com/90247/91499160-d58fa500-e875-11ea-990d-dd33cec61bc5.png)

[2020-08-27 22:05] rdegges opened #159 "Upgrade guide should be moved lower in readme"
Right now, the upgrading guide comes immediately after the getting started section. As I'm reading through the readme, it's sort of confusing as it's hard to tell how to use the library with this big upgrading section as one of the first things.

[2020-08-28 14:24] bretterer commented on #155
@nikhilpulluri Hello!  Thanks for reaching out.  The `make build` command provided is for use during development of the SDK itself. It requires you to have the `okta-sdk-generator` command that comes from `@okta/openapi` javascript package. This is publically available on npm.js.  If you `cd openapi` from the root, and run `yarn install` you should be able to run the `make build` command.

However

[2020-08-28 14:28] bretterer commented on #154
Thank you for bringing this to our attention @ymylei.  I will talk with the team about this, but we do treat each model as a standalone model. I believe in documentation, we talk about Policy and it has this updateRule method defined, but we also talk about PolicyRule and it too defines the UpdatePolicy.
I will talk this over with the team, but for now, you can pick whichever area you are in.

[2020-09-03 15:39] #159 closed

[2020-09-16 20:40] #158 closed

[2020-09-23 14:05] bretterer commented on #36
This has been addressed in #134

[2020-09-23 14:05] #36 closed

[2020-09-23 14:05] bretterer commented on #36
If you are still seeing an error here, please reach back out

[2020-09-23 14:07] bretterer commented on #53
This has now been updated in v2.0.0.  Please let us know if you are still experiencing an issue with this by opening a new ticket with your concerns.

[2020-09-23 14:07] #53 closed

[2020-09-23 14:19] bretterer commented on #59
Thank you for the report @quantumew and sorry for the long delay here.  We have added this to our list of improvements for this SDK.

Internal Ref: OKTA-331904

[2020-09-23 14:21] bretterer commented on #64
Hi @mcandre. We do not have a plan to include the introspect endpoint since we maintain the okta-jwt-verifier package for golang as you suggested.

Is there a reason that you could not use the jwt verifier as well as the sdk?

[2020-09-23 14:23] bretterer commented on #67
@mcandre We now support Oauth 4 Okta in our SDK's. Please see the documentation at https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/overview/ on how to set this up.

If you have any issues, please feel free to come back here and let us know.

[2020-09-23 14:23] #67 closed

[2020-09-23 14:24] bretterer commented on #76
@quantumew it seems that these properties were not included in our latest revamp of the sdk (v2.0.0).  Can you pinpoint in our documentation where these properties exist as I am not able to find them.

[2020-09-23 14:26] bretterer commented on #106
I believe this has been fixed and released in our v2.0.0 release.

Could you please let me know if you are still getting this issue after updating to the latest release?

[2020-09-23 14:30] bretterer commented on #57
We now have the idea of `next()` on the resource. this allows you to iterate through each item in your response, and then call `next()` to get the next set for you.

to see if your response has a next page, you can call `hasNext := resp.HasNextPage()`.  if this returns `true` you can then call

[code]

this will return your next set of users (or whatever your list is in the first place.

If you st

[2020-09-23 14:30] #57 closed

[2020-09-23 14:40] #155 closed

[2020-09-23 14:41] #100 closed

[2020-09-23 14:42] bretterer commented on #102
Closing this as stale.  If you are still experiencing an issue, please feel free to open a new issue and we will get back to you.

[2020-09-23 14:42] #102 closed

[2020-09-23 14:45] bretterer commented on #118
Thanks for the information here.  We will update our headers in the templates and release a new tag of the SDK

Internal Ref: OKTA-331907

[2020-09-23 14:58] bretterer commented on #88
Closing this as stale.  If you are still experiencing an issue, please feel free to open a new issue and we will get back to you.

[2020-09-23 14:58] #88 closed

[2020-09-23 14:59] bretterer commented on #39
This has been fixed in v2.0.0.   Please let us know if you have any other issues here.

[2020-09-23 14:59] #39 closed

[2020-09-23 14:59] #97 closed

[2020-09-23 15:00] bretterer commented on #87
This has been addressed in v2 and should no longer be an issue. If you have any issues after updating, please open a new issue for us to look into

[2020-09-23 15:00] #87 closed

[2020-09-23 15:01] bretterer commented on #65
With v2 release, this is now resolved. If you continue to have any issues, please re-open this issue, or create a new one for us to look at. Thank you for your report here!

[2020-09-23 15:01] #65 closed

[2020-09-23 15:04] bretterer commented on #122
Thank you for the report here. We will be investigating this for a potential way of addressing this.

Internal Ref: OKTA-331910

[2020-09-23 15:07] bretterer commented on #130
Hello @rizkyekoputra. Thank you for your report here. The `sendEmail` query param is only for activation, not during the creation of a user.

Please see https://developer.okta.com/docs/reference/api/users/#activate-user for the details on this.

If you continue to have an issue, please feel free to re-open this issue.

[2020-09-23 15:07] #130 closed

[2020-09-23 15:09] bretterer commented on #32
Closing this as stale.  We are working on providing a terraform provider, but do not currently have a timeline for the officially supported version. You can use the community driven one for now and can find it at https://github.com/oktadeveloper/terraform-provider-okta

[2020-09-23 15:09] #32 closed

[2020-09-23 15:10] bretterer commented on #135
Closing this as stale.  If you are still experiencing an issue, please feel free to open a new issue and we will get back to you.

[2020-09-23 15:10] #135 closed

[2020-09-23 15:12] bretterer commented on #85
Closing this as stale.  If you are still experiencing an issue, please feel free to open a new issue and we will get back to you.

[2020-09-23 15:12] #85 closed

[2020-09-23 15:15] bretterer commented on #141
Hello @patluri43.  We do already deal with backoff logic based on the headers. This logic can be seen in https://github.com/okta/okta-sdk-golang/blob/master/okta/requestExecutor.go#L277

If there is something that were missing here, please feel free to re-open this issue with more details of what you are seeing.

[2020-09-23 15:15] #141 closed

[2020-09-23 15:16] bretterer commented on #127
Closing this as stale.  If you are still experiencing an issue, please feel free to open a new issue and we will get back to you.

[2020-09-23 15:16] #127 closed

[2020-09-23 15:20] bretterer commented on #145
@ikawalec Thank you for your report here. We have added this to our updates that we will make in a future release.

Internal Ref: OKTA-331913

[2020-09-23 15:21] bretterer commented on #148
This has been addressed in v2.0.0.  Please update your dependency and this should fix your concern here.

If you have further issues, please re-open this issue and let us know what is going on.

[2020-09-23 15:21] #148 closed

[2020-09-23 15:24] bretterer commented on #149
This is on my list to get merged in today.  The PR is failing due to private env vars in travis

[2020-09-23 15:28] bretterer commented on #153
Thank you for the report here. I will bring this up with the team to take a look at.

Internal Ref: OKTA-331914

[2020-10-02 08:08] felixn-unity opened #169 "filter function not working on ListGroupUsers"
Hi

filter function seems to be ignored when using ListGroupUsers :

var filter = query.NewQueryParams(query.WithFilter("status eq \"ACTIVE\""))
users, resp, err := client.Group.ListGroupUsers(ctx, "my user group", filter)

Thanks
Felix

[2020-10-02 10:07] shar-kumar opened #170 "After deploying to AWS /Azure the resource url doesn't work"
Downloaded source code from Git for okta-spring-boot-deploy-master project and deployed successfully on to AWS BeanStalk and Azure. But the URL does not work on browser. Always throws 400 error. Anyhelp is appreciated

[2020-10-02 14:39] bretterer commented on #169
Hello!  Could you please expand on this a little bit.  What are you expecting to get, what are you getting instead?  Can you provide a little more detail here.

From the initial look at this, It seems your call is using the string `my user group` for the `groupId` param of the `ListGroupUsers` call.  This should instead be the id provided as part of the group, not the name of the group.

I would l

[2020-10-02 14:55] felixn-unity commented on #169
Hi

Sure, "my user group" is the group ID, but ListGroupUsers returns all users with any status.

So to fix it, I am checking when I am looping through the results - which was not expected to do that :

        var filter = query.NewQueryParams(query.WithFilter("status eq "ACTIVE""))
	users, resp, err := client.Group.ListGroupUsers(ctx, 0xXXXXXXXX, filter)
	if err == nil {
		for i := 0; i < len(us

[2020-10-02 15:15] bretterer commented on #169
Thanks for this information.  Let me work on reproducing this and ill be getting back to you shortly

[2020-10-02 15:20] felixn-unity commented on #169
Thanks a lot, do let me know if I should try/do anything

Felix

[2020-10-02 15:20] bretterer commented on #169
So, that is what I expected.  The method `listGroupUsers` references the endpoint that is documented at https://developer.okta.com/docs/reference/api/groups/#list-group-members.  This specific endpoint only accepts `limit` and `after` as query parameters. We do not allow filtering on this specific api call.

Parameter | Description | ParamType | DataType | Required | Default
-- | -- | -- | -- | --

[2020-10-02 15:23] felixn-unity commented on #169
Ok I see, thanks and sorry for the fuzz :)

Felix

[2020-10-02 15:23] #169 closed

[2020-10-02 15:27] bretterer commented on #169
No need to be sorry.  Just as an FYI, most of our methods in the SDK correlate to a name in our documentation.  How you can decerifer where these are documented at, you can use the client name of the call.

ie. any `client.Group` call will be documented and found in the Groups resource of our documentation page found at https://developer.okta.com/docs/reference/ .  Once you get into groups, what I

[2020-10-07 21:02] hafuta commented on #122
+1
Same here, it panics because of minor issues such as domain containing `-admin`, the `NewClient` function is returning error, I don't see any reason to use `panic` in case of validation errors.

[2020-10-08 09:05] tgrobinson opened #171 "Incorrect ErrorSummary provided when creating a duplicate user"
Sending a request to create a user that already exists in the Okta instance returns a generic error unrelated to the cause. Triggering the error and casting this to an `okta.Error` type looks like so:
[code]

This requires manual parsing of the ErrorCauses to determine the real cause of the fault. I would expect this request to either return a separate error code for a duplicate resource such as [

[2020-10-08 21:00] bretterer commented on #171
@tgrobinson thank you for your feedback.  I am going to request that you send this over to our support team as the error you are seeing is given to you through the SDK that is directly related to the error we receive from the API call. We do not manipulate the errors at all within the SDK. I have addressed this with the internal teams as well to help get the ball rolling.  (Internal Ref: OKTA-3361

[2020-10-10 00:48] ymylei commented on #149
hey @bretterer mind cutting a patch release with this change in it? would like to use it on https://github.com/oktadeveloper/terraform-provider-okta/pull/153

[2020-10-20 18:14] #122 closed

[2020-10-22 15:04] bretterer commented on #149
We are working on a few more changes @ymylei and will be releasing a new version soon.

[2020-10-28 13:34] pawelaugustyn opened #176 "openIdConnectApplicationSettingsClient does not contain jwks field"
Provided implementation of [openIdConnectApplicationSettingsClient](https://github.com/okta/okta-sdk-golang/blob/master/okta/openIdConnectApplicationSettingsClient.go) structure does not include `jwks` field. This difference causes that available structure does not reflect JSON structure shown in Okta API reference ([Apps > Application operations > Add aplication > private_key_jwt set as token_end

[2020-10-28 20:43] bretterer commented on #176
@pawelaugustyn thank you for the report here.  We did just update some information in this structure, but seems we missed `jwks` field.

As a workaround for now, you could create a new custom structure that includes this field and then use our system to [call external api endpoints](https://github.com/okta/okta-sdk-golang#call-other-api-endpoints).  I know this is not ideal at the moment, but we w

[2020-10-28 20:46] bretterer commented on #176
Internal Ref: OKTA-341692

[2020-10-28 20:46] eatplaysleep opened #177 "oktaSignOnPolicyRuleSignonSessionActions.go omitting MaxSessionLifetimeMinutes"
Although the Okta Developer documentation does not indicate that `maxSessionLifetimeMinutes` is an *optional* field the API will actually reject any request that does not contain it.

Making a call without having it present with at least a value of `0` results in the following error:

[code]

The following code needs to be changed to remove `omitempty` from `MaxSessionLifetimeMinutes`:
[code]

[2020-10-29 17:00] bretterer commented on #177
@eatplaysleep thank you for the report here!  I hear your concerns with `omitempty`, however as part of our generation of the SDK, we place `omitempty` here as a safeguard against a flexible API that may or may not include all properties when returned from the API calls.

Are you getting this error when making a call to the API, or as part of the return from the API?

[2020-10-29 20:15] eatplaysleep commented on #177
Makes sense. I receive the error when _making_ the call. Both from Terraform and also just a Postman request.

[2020-10-29 20:18] bretterer commented on #177
@eatplaysleep thanks for the information.  So it sounds like this is a documentation confusion on our part because of our use of `omitempty`.  It seems you were assuming this property was optional because of the `omitempty`, is that correct?  If thats the case, outside of removing the `omitempty` what would have made it clear for you so we can update that documentation to help others?

[2020-10-30 13:52] bretterer commented on #149
@ymylei This should be resolved in 2.1.0 now.

Please let us know if there are any other issues. Thank you!

[2020-10-30 13:52] #149 closed

[2020-10-30 18:10] eatplaysleep commented on #177
I understand keeping the `omitempty`. I probably should have omitted that from the ticket in the first place and just focused on the issue. :)

I suppose it is a matter of either updating the API so that the field is actually optional _or_ at least updating the developer documentation to indicate it is required.

I'm running into this issue using the Okta Terraform provider (which would also need

[2020-10-30 18:11] bretterer commented on #176
@pawelaugustyn we are currently working on this issue and will be releasing a new version of the SDK soon which will include a fix here.

[2020-10-30 18:39] bretterer commented on #177
@eatplaysleep thank you for that information.  I will pass this along to our team to figure out out next steps.

[2020-11-05 17:23] denys-volkov-sp opened #181 "Group profile parameters"
Hello guys, can you extend groupProfile with other parameters? https://github.com/okta/okta-sdk-golang/blob/master/okta/groupProfile.go#L19-L24 which mention in doc here https://developer.okta.com/docs/reference/api/groups

Example:
[code]

[2020-11-05 18:26] bretterer commented on #181
Thanks for the report @denys-volkov-sp.  I will be looking into this concern.  It seems that these properties may be available through an Early Access program, but not normally available. I am looking into it a little more though.

[2020-11-06 20:43] bretterer commented on #181
Following up with you on this @denys-volkov-sp.  As we are still looking into this one, I wanted to suggest a path to unblock you. In our SDK, we allow you to make calls to API endpoints that are not fully covered. The information for how to do this can be found in [our readme](https://github.com/okta/okta-sdk-golang#call-other-api-endpoints)

If this path does not unblock you for now, please let

[2020-11-09 08:11] denys-volkov-sp commented on #181
Hello @bretterer, thank you 👍 my current code has already based on this solution, which you mentioned above. I see one problem with it, I extend SDK with own method and with my URL and if SDK change the url then my code will work wrong. What do you think about it?

[2020-11-10 01:44] bretterer commented on #181
What URL are you worried about changing here?  The URL's are defined by the Okta API, so this should not be an issue

[2020-11-13 08:46] #118 closed

[2020-11-19 15:32] #176 closed

[2020-11-19 16:04] bretterer commented on #176
@pawelaugustyn thank you for the raising this issue.  Sorry I missed coming back here to update that it has been included in a release.

If there is anything else that I can help with, please let me know!

[2020-11-20 08:17] pawelaugustyn commented on #176
We've already started using that. Thanks for providing the fix so quickly!

[2020-11-20 20:45] noinarisak opened #188 "Missing support Schemas API"
Looking over the api doc references it does not seem the SDK v2 supports the [Schema API](https://developer.okta.com/docs/reference/api/schemas/) endpoint at this time.

[2020-11-20 20:50] bretterer commented on #188
Hey @noinarisak. It seems that we currently support the `linkedObjects` schema, but that is it.

The best I can tell you to do now is use the [Calling other endpoints](https://github.com/okta/okta-sdk-golang#call-other-api-endpoints) option that we provide in the SDK.  I will add this to our backlog to take a look at adding in a future release of the spec.

[2020-11-20 20:51] bretterer commented on #188
Internal Ref: OKTA-347834

[2020-11-24 01:02] eatplaysleep commented on #106
@bretterer I can confirm it's still happening. Just upgraded my Okta Terraform provider to the most recent, which has been upgraded to use the 2.0 SDK and have started seeing the following error:

`Error: json: cannot unmarshal array into Go value of type okta.UserType`

[2020-11-24 08:57] bogdanprodan-okta commented on #106
@eatplaysleep could you please provide an example of the terraform resource of data so I can test and fix it?

[2020-12-04 09:58] denys-volkov-sp opened #189 "How to get list of groups filtered by app parameters (appID, appName, appLabel)?"
Hello guys, exists way to filter group list by app parameters (appID, appName, appLabel)? Currently I'm working with group-role mapping functionality, in application exists parameter as **App Filter**, so by documentation we must filter groups based on **App Filter**, but I didn't find solution where it can be done via Okta API. I'm going through all groups in the list and match them on group-role

[2020-12-04 13:04] bogdanprodan-okta commented on #189
I think this is what you are looking for https://developer.okta.com/docs/reference/api/groups/#search-examples
It's still an `early access` feature, so it won't work for all organizations.

[2020-12-04 13:17] denys-volkov-sp commented on #189
bloodsicker@bogdanprodan-okta thank you for the answer. Current feature solve search by appID, but not for search by appLabel, and appName.

I found parameter **expand** for group and it return all data I need for filter, but seems Okta API not support filtering by parameter **_embedded**.
[code]

So, will Okta add new API for support filtering for groups list by app parameters? It will simplify s

[2020-12-08 21:10] pawelaugustyn opened #190 "JsonWebKey struct does not support Elliptic Curve JWK"
Provided implementation of [JsonWebKey](https://github.com/okta/okta-sdk-golang/blob/master/okta/jsonWebKey.go) structure does not include fields needed to register ECDSA JWK. This difference causes that using structs present in SDK I am able to use only RSA keys.

Example of RSA-based JWK:
[code]

Example of ECDSA-based JWK (cannot be created using structs from SDK):
[code]

Missing fields (`x`,

[2020-12-09 01:31] bretterer commented on #190
@pawelaugustyn Looks like we missed those properties when updating the JWK object in our spec.  I will discuss this with our team to figure out how we can get this included.

In the mean time, to unblock you, I can suggest you using our feature that allows you to call endpoints directly through our SDK: https://github.com/okta/okta-sdk-golang#call-other-api-endpoints  This will allow you to make a

[2020-12-18 01:20] alsmola opened #191 "ListApplications with paging fails with marshaling error"
I found a similar bug to https://github.com/okta/okta-sdk-golang/issues/87 and https://github.com/okta/okta-sdk-golang/issues/41, but for paging through `ListApplications`.

When running this code:

[code]

At the line where I call `Next()`, I get this error:

[code]

I'm guessing that whatever was done to address the marshaling error for `App` interfaces in the linked issues doesn't work for the

[2020-12-18 03:24] bretterer commented on #191
@alsmola Thank you for reporting this.  It does seem like this may have been a regression from our fixes to `App` marshaling.  One thing you could try is to set `var nextApps []okta.Application` instead of `App`.  Not 100% this would work as a workaround for you though.

I am going to create a report with our team to take a look at this and see what we can do to address this.

Please let us know i

[2020-12-18 03:29] bretterer commented on #191
Internal Ref: OKTA-354506

[2020-12-18 17:17] alsmola commented on #191
Changing to `[]*okta.Application` prevents the error, but now I'm running into another one calling`Next()`:

`Not found: Resource not found: <value omitted> (AppLink)`

Perhaps I should be limiting my query in some way?

[2020-12-18 18:29] bretterer commented on #191
Odd, I would not have expected that error.  It does seem like there is something up with it in general that we will take a look at.

As you mention, you could use some params to limit your query.  depending on what you are trying to do with your listed applications, you could use any one of the following queries from our docs: https://developer.okta.com/docs/reference/api/apps/#request-parameters-

[2021-01-12 14:44] programmer04 opened #193 "Option WithHttpClient(httpClient http.Client) requires argument passed by value instead of pointer"
Hello!

As described in the title, on the other hand in [Readme.md](https://github.com/okta/okta-sdk-golang/blob/0f3120d96a68cec377e761e20adc42e9125353b1/README.md#extending-the-client) passing by a pointer is described, which is desired but cannot be performed in the current SDK, please see [WithHttpClient(httpClient http.Client)](https://github.com/okta/okta-sdk-golang/blob/0f3120d96a68cec377e76

[2021-01-12 16:27] bretterer commented on #193
@programmer04 Thank you for pointing out the conflicting information in our readme and code. We are going to add this into our workflow to take a look at fixing.

Is this currently blocking you with your work, or are you able to pass by value to continue working while we work to get a fix in place?

[2021-01-12 16:35] programmer04 commented on #193
@bretterer thanks for the very fast response. It's not a blocking thing, just I can't inject my custom `http.Cliennt` in an optimal way. The fix shouldn't be hard to but it breaks the current API of SDK

[2021-01-12 16:46] bretterer commented on #193
@programmer04 No problem.  That is the issue with this update. Since we're not ready to release a new major version of the SDK right now, we need to find a way to not break backwards compatibility.

Keep following this ticket for a resolution and please let us know if you run into a blocker because of this.

[2021-01-12 16:54] bretterer commented on #193
Internal Ref: OKTA-360179

[2021-01-15 15:44] adw1n opened #194 "Failed requests obtaining access token aren't retried in PrivateKey authorization mode"
With private key authorization mode `RequestExecutor::NewRequest` checks for cached access token and if not found a request is made to Okta's `/oauth2/v1/token` endpoint to get the access token. Problem is that this request isn't retired on failure.

I'd like for okta-sdk-golang to have retries for this request:
https://github.com/okta/okta-sdk-golang/blob/0f3120d96a68cec377e761e20adc42e9125353b1/

[2021-01-15 22:22] bretterer commented on #194
Thanks for reporting @adw1n.  Looks like this may be an oversight when we implemented retries.  I will get this on our task list to find the best solution for fixing this.

[2021-01-17 17:27] adw1n commented on #194
@bretterer the `/oauth2/v1/token` endpoint request performed in `RequestExecutor::NewRequest` is done with disregard for context. When working out a solution please take that under consideration - ideally that request should be done with context.

[2021-01-18 14:46] bogdanprodan-okta commented on #191
You can try doing something like this:
[code]
I know, it looks not very nice, but at least it works.

[2021-01-19 19:22] bretterer commented on #194
@adw1n.  Thanks for your patience over the weekend. I will pass this information along while we look for a solution here.

[2021-01-20 08:24] bogdanprodan-okta commented on #177
This issue is fixed in the latest v2.2.2

[2021-01-20 08:24] #177 closed

[2021-01-20 08:27] bogdanprodan-okta commented on #153
This issue was fixed in v.2.2.2

[2021-01-20 08:27] #153 closed

[2021-01-20 17:50] #145 closed

[2021-01-20 18:17] bogdanprodan-okta commented on #76
These fields are available in the latest version of Golang SDK.

[2021-01-20 18:17] #76 closed

[2021-01-23 00:38] noinarisak opened #197 "Type PolicyRule struct is missing properties"
Can we match fields identified in our [docs](https://developer.okta.com/docs/reference/api/policy/#rules-object
) or at least have the require `name` field?

Referring to code block:
https://github.com/okta/okta-sdk-golang/blob/master/okta/policyRule.go#L29-L37

At the moment, I not sure how to get the `name` field after getting array of `okta.PolicyRule`.

ie.
[code]

[2021-01-25 15:13] bretterer commented on #197
@noinarisak, the Name field lives on the specific PolicyRule types, such as https://github.com/okta/okta-sdk-golang/blob/master/okta/passwordPolicyRule.go

Is there a reason you need the name on the generic PolicyRule, vs the specific PolicyRule?

[2021-01-26 14:37] adw1n opened #198 "Requests to Okta are not retried on connection problems errors"
Any connection problems are considered permanent and requests to Okta don't get retried by `okta-golang-sdk`. In my service's logs I see requests done by okta-golang-sdk fail from time to time with error:
[code]
and these requests don't get retried.

This is the problematic code block:
https://github.com/okta/okta-sdk-golang/blob/bb2e8ecf6ad832bfdfb8216fb3a653294e6274b5/okta/requestExecutor.go#L29

[2021-01-26 14:52] bogdanprodan-okta commented on #198
Hi @adw1n! Thanks for submitting this issue! I'll add some `if` clause to check for `EOF` errors.

[2021-01-26 15:25] noinarisak commented on #197
Thanks, @bretterer it was not apparent to me that I have to do type conversion base on `PolicyRule.Type` for all three types: `password`, `oktaSignOn`, `MFA enroll`. Plus it does look like `MFA_ENROLL` has been implemented maybe due to Beta status?

[2021-01-26 16:54] #198 closed

[2021-01-26 18:05] adw1n commented on #198
@bogdanprodan-okta would you be willing to release v2.2.3 with this fix soon?

[2021-01-30 08:05] #147 closed

[2021-01-31 22:57] adw1n opened #204 "RequestExecutor's retries are broken due to request object reuse"
Example:
1. First request failed because of

2. Request is retried and this time I get this error:

    Redacted ContentLength is greater than 100. This failure is not retried.

This piece of code:
https://github.com/okta/okta-sdk-golang/blob/51d7926200081d4325777697952dcd558d0ad9c6/okta/requestExecutor.go#L297

reuses the same request and req.Body isn't reset between retries.

cc: @bogdanprodan-o

[2021-02-01 16:44] bretterer commented on #204
@adw1n Thank you for the issue report. We will be looking into this and getting back to you with an answer as soon as we have one

[2021-02-03 10:45] bogdanprodan-okta commented on #204
Hi @adw1n! I've created #205 that should fix this problem. I've tested it, but if it's possible, please test it on your side, so we can be sure it's working. Thnaks!

[2021-02-03 16:48] #204 closed

[2021-02-04 09:55] adw1n opened #206 "Option okta.WithPrivateKey panics on long private key strings"
`okta.WithPrivateKey` on MacOS panics when passing a string that contains a legitimate private key.

`okta.WithPrivateKey` calls `fileExists` at the beginning of the function:
https://github.com/okta/okta-sdk-golang/blob/4a984fd6db90e2734920c3db9e26a693a3117b9c/okta/config.go#L189
This piece of code https://github.com/okta/okta-sdk-golang/blob/4a984fd6db90e2734920c3db9e26a693a3117b9c/okta/config.g

[2021-02-04 12:42] bogdanprodan-okta commented on #206
Hi @adw1n! Thanks for submitting this issue! I'll create a corresponding PR.

[2021-02-10 16:05] adw1n commented on #206
Problem described in this issue got fixed in https://github.com/okta/okta-sdk-golang/pull/207 although the `fileExists`  error handling could use further improvements. My code that panicked on MacOS previously now works after okta-sdk-golang library update.

@bogdanprodan-okta please link to issues in your PRs https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to

[2021-02-10 16:05] #206 closed

[2021-02-12 07:48] #191 closed

[2021-02-12 07:49] #189 closed

[2021-02-12 08:19] pawelaugustyn commented on #190
Hi @bretterer, do you have any update on this item?

[2021-02-12 10:50] tgrobinson commented on #171
I raised this with the support team who looked into the issue and advised they would not fix this at the API level.

[2021-02-12 10:50] #171 closed

[2021-02-16 22:24] ejcx commented on #106
Can confirm I just ran into this issue while developing with the SDK. I am simple calling `client.Factor.ListFactors(user.Id)` and it is failing.

[2021-02-17 08:41] bogdanprodan-okta commented on #106
Hi, @ejcx! I don't think this SDK has a `Factor` resource. I checked `UserFactor` using the latest version and it works just fine:
[code]
Could you please provide stack trace of the error you get?

[2021-02-17 19:21] #193 closed

[2021-02-19 19:18] bretterer commented on #190
@pawelaugustyn I do not have an update at the moment for this update.

[2021-02-22 21:32] noinarisak commented on #197
Hey, @bretterer and/or @bogdanprodan-okta . I decided to go with `github.com/oktadeveloper/terraform-provider-okta/sdk` implementation to handle converting a `PolicyRule` to a particular type (ie `PasswordType`).  I'm not sure how to go about doing a type conversion without an interface. I prefer going with just a single SDK but if my approach is to use `ListPolicyRules(ctx, policyID)` method but

[2021-03-16 14:18] bretterer commented on #106
Closing this issue as inactive. If this is still an issue, please open a new ticket with reproduction steps and a current stack trace of the issue

[2021-03-16 14:18] #106 closed

[2021-04-04 08:34] aborrello opened #220 "`make build` produces invalid output"
👋 I've ran into some issues while trying to build the SDK as per the README instructions.

Here is the error I receive when running `make build` from the repository root:

[code]

The following Go errors exist in the `userSchema*` packages:
[code]

Looking in that file, it looks like a field `$schema` has been added to the `UserSchema` struct and the `type UserSchemaResource resource` has been omi

[2021-04-05 12:20] bryanapellanes-okta commented on #220
@aborrello,
Thanks for reaching out!  Our Go developers will investigate and comment here when there is additional information to share.

Thanks for using Okta!

[2021-04-05 16:52] bogdanprodan-okta commented on #220
Hi, @aborrello! The problem here is with the SDK generator as it has not yet been fixed yet to support the latest version of Okta's `open-api-spec`. Please just use the SDK "as-is" without regenerating the files. If you have any other issues, feel free to ask.

[2021-04-19 17:29] payneWeave commented on #57
I have a client application that is supposed to list users on the frontend. We are proxying our calls through a Go service. What is the recommended way to do pagination with this SDK? It seems like I'd just call `Next` over and over till I've gotten all my users. But what if I need to do pagination on my client? Can I call ListUsers and specify my offset and limit?

[2021-04-20 15:28] bretterer commented on #57
Hi @payneWeave. You can set limit and offset with the query parameters.

This will show you how to do Limit: https://github.com/okta/okta-sdk-golang#pagination

Offset is similar to this, but with `query.WithAfter`.

For documentation on this, please see: https://developer.okta.com/docs/reference/api-overview/#pagination

[2021-04-23 13:51] halmai commented on #220
Hi, I cannot create my Pull Request until the build process gets fixed. Could you fix it soon, please?

[2021-05-07 17:45] ymylei opened #226 "Support Group Schema Operations"
According to the Okta Docs page, there is now EA support for Group Schemas.

https://developer.okta.com/docs/reference/api/schemas/#group-schema-operations

Requesting to update the OpenAPI spec and refresh this SDK to include support for these endpoints.

[2021-05-13 20:17] jeffg-hpe opened #229 "support Domains API"
Requesting support for the new [Domains API](https://developer.okta.com/docs/reference/api/domains/). It is in Early Access.

Needed for https://github.com/okta/terraform-provider-okta/issues/410

[2021-05-13 21:01] bryanapellanes-okta commented on #229
@jeffg-hpe,
Thanks for reaching out! I'll bring this to the attention of our golang developers and someone will follow up.

Thanks for using Okta!

[2021-05-14 12:23] bryanapellanes-okta commented on #229
Internal Ref: OKTA-395688

[2021-05-14 21:03] bretterer commented on #229
Hi @jeffg-hpe,

Thanks for the request.  Good news! This is in the works!  I am not sure of the release date yet, but know that we are actively working on it.

[2021-06-01 07:50] Sanil2108 opened #231 "Inaccurate README.md"
As per the README, the way to create a user is using the function `CreateUser` and passing an Okta User struct and query params
https://github.com/okta/okta-sdk-golang/blob/master/README.md#create-a-user. However, the way it is defined is different, we need to pass a Context, CreateUserRequest and query params - https://github.com/okta/okta-sdk-golang/blob/master/okta/user.go#L49

[2021-06-22 00:19] monde commented on #220
The 🐉 is on the case.

[2021-06-30 22:29] monde commented on #220
I have a branch to fix this issue ( https://github.com/okta/okta-sdk-golang/tree/fix-make-build-issue-220 ) but we won't be able to release it until we publish the next version of okta-sdk-golang that is based on the public facing openapi spec in https://github.com/okta/okta-management-openapi-spec

[2021-07-01 16:59] gavinbunney opened #234 "Support Org APIs"
Requesting support for the [Org APIs](https://developer.okta.com/docs/reference/api/org/) to allow management of org-related settings via Terraform. It is in Early Access.

[2021-07-01 17:46] aarongranick-okta commented on #234
@gavinbunney Thank you for the request. An Okta engineer will investigate and respond with more detail.
Internal ref: OKTA-409128

[2021-07-06 18:19] monde commented on #64
I'm going to close this issue. @mcandre please reopen if https://github.com/okta/okta-jwt-verifier-golang doesn't provide the feature you are looking for.

[2021-07-06 18:19] #64 closed

[2021-07-06 18:23] monde commented on #154
@ymylei I'm triaging our long lived issues ... let me know how important this is for you. Thanks

[2021-07-06 18:25] monde commented on #181
@denys-volkov-sp I'm triaging our long lived issues; are you still looking for a new feature here?

[2021-07-06 18:29] monde commented on #188
Hi @noinarisak we released schema API support in 6d16b62b9ad56de18e0501d16e8d59c3c6b43eec Sdk v2 (#137) release tagged #v2.0.0 . I'm going to close out this issue.

[2021-07-06 18:29] #188 closed

[2021-07-06 18:47] monde commented on #190
@pawelaugustyn I'm getting this enhancement into our backlog.

Internal Ref: [OKTA-409797](https://oktainc.atlassian.net/browse/OKTA-409797)

[2021-07-06 18:52] monde commented on #194
@adw1n I'm getting this into our backlog.

Internal Ref: [OKTA-409799 ](https://oktainc.atlassian.net/browse/OKTA-409799)

[2021-07-06 19:03] monde commented on #197
Internal Ref: [OKTA-409809](https://oktainc.atlassian.net/browse/OKTA-409809)

[2021-07-06 19:06] monde commented on #188
@noinarisak Please bring the issue back up if v2.0.0 doesn't resolve this issue for you.

[2021-07-06 19:12] monde commented on #231
@Sanil2108 can you get me a PR to improve our documentation? Thanks for catching this misleading information.

[2021-08-02 23:36] monde commented on #220
@aborrello @halmai the master branch has our latest release of 2.5.0 of the okta-sdk-golang. I fix the issues you all ran into. I'll close this issue, let me know if you are still blocked.

[2021-08-02 23:36] #220 closed

[2021-08-02 23:39] monde commented on #234
@bogdanprodan-okta shouldn't this issue be reflected on https://github.com/okta/okta-management-openapi-spec ?

[2021-08-02 23:40] monde commented on #229
`/api/v1/domains` is supported in the 2.5.0 release of okta-sdk-golang

[2021-08-02 23:40] #229 closed

[2021-08-03 10:03] bogdanprodan-okta commented on #234
@monde yes, we are missing that from the spec

[2021-08-03 18:21] monde commented on #194
@adw1n I'm pulling this into our current sprint. We just released 2.5.0 of the okta-sdk-golang so this fix should probably be in 2.5.1

[2021-08-03 18:25] monde commented on #231
@Sanil2108 I'll be doing a 2.5.1 release of the sdk this sprint and update the README with the correct CreateUser example as part of the release.

[2021-08-03 20:35] monde commented on #231
README updated with proper CreateUser documentation, closing issue, thank you @Sanil2108

[2021-08-03 20:35] #231 closed

[2021-08-04 16:39] noinarisak commented on #197
Thanks @monde !

[2021-08-04 20:53] monde commented on #194
@adw1n the #240 fix is in master and will be called out in the change log when we cut a 2.5.1 release.

[2021-08-04 20:53] #194 closed

[2021-08-09 16:30] noinarisak opened #242 "HasNextPage method does not respect query object"
Hi team, The following code does not appear to acknowledge the `query` params when I'm trying to get all the "SAML2" type IDPs in my Okta org. In the below code my use case I only have one 1 saml idp, but when we hit `resp.HasNextPage()` actually comes back `true` which then proceeds to pull my other IDPs, my case `OIDC` idp. With `Delve` I notice that `after=` is of course being implemented since

[2021-08-09 16:38] arvindkrishnakumar-okta commented on #242
@noinarisak Thanks for posting!

Will have our team take a look at this.

[2021-08-13 16:11] noinarisak opened #249 "Support "'api/v1/org/factors'"
The SDK does not support general list of Factors in my Okta org. A `ListFactors` method would get for my use case. I understand we don't have any public documentation on`/api/v1/org/factors` which I'm not sure why we don't. 😃

[2021-08-13 19:26] laura-rodriguez commented on #249
Hi @noinarisak,

As you noticed, we don't expose APIs that are not documented in our SDK. We'll inquire internally and let you know.

Thank you!

[2021-08-17 14:28] noinarisak commented on #242
@arvindkrishnakumar-okta Just wondering if there has been any progress. After looking over https://github.com/okta/okta-sdk-golang/blob/c954cb6883a249f4bbe73b2f361de95d2bdbba22/okta/requestExecutor.go#L406-L432, I wonder if it is just how our `idp` endpoint is not a filtered dataset when the pagination is being implemented.

[2021-08-17 18:48] noinarisak commented on #242
Thanks @bogdanprodan-okta ! I implemented the following per your recommendation

[code]

So I have two SAML2 and one OIDC in my tenant. When I'm debugging with delve, it still picks up the third OIDC idp record. Only difference is my `qp` object is inside my function. Not sure if I'm missing any details.

[2021-08-17 19:30] #242 closed

[2021-08-17 21:07] noinarisak commented on #242
Thanks, @bogdanprodan-okta, for PR #253!

[2021-08-17 21:57] BalaGanaparthi opened #254 "Additional authentication method"
Currently Okta provider supports AuthN with (API_Token) or (Client_ID + PrivateKey + Scopes)

It would be beneficial to have an additional option for authentication using (Client_ID + Public and Private Keypair JWK + Scopes), Where the provider generates the .pem formatted with the supplied JWK and passes the pem formatted value as expected to the underlying GOLang SDK.

[2021-08-18 15:37] monde commented on #254
internal ref [OKTA-421161](https://oktainc.atlassian.net/browse/OKTA-421161)

[2021-08-24 18:47] noinarisak commented on #249
Thanks @laura-rodriguez !

[2021-08-30 14:01] maxkondr opened #257 "Data race issues during parallel request execution"
Hi,

We use this lib v2.6.1 for our services. The code is pretty simple and looks like
[code]

[code]
and
[code]

and similar.

But once we run tests with `-race` flag we see the following:
[code]

To dig deeper we see that in the lib the following code is executed
[code]

the issue is in `WithAccept` and `WithContentType` calls as soon as they change the same field in global `RequestExecutor` lik

[2021-08-30 14:05] bogdanprodan-okta commented on #257
Hi @maxkondr! Thanks for submitting this issue! This seems like a major flaw so we will try to solve this issue asap.

[2021-08-30 18:32] monde commented on #257
fixed #256 , released as 2.6.2, thanks @maxkondr , @bogdanprodan-okta

[2021-08-30 18:32] #257 closed

[2021-08-30 21:15] bogdanprodan-okta commented on #226
@ymylei Group Schemas operations are now available in v2.6.2

[2021-08-30 21:15] #226 closed

[2021-08-30 21:17] bogdanprodan-okta commented on #234
@gavinbunney we are currently working on adding this functionality to the official specs so it will available in Golang SDK soon. Cheers!

[2021-09-07 08:16] skrolikiewicz opened #259 "DeactivateUser func description confusion"
Hi team, I've got a quick question regarding the user deletion flow. [`DeactivateUser`](https://github.com/okta/okta-sdk-golang/blob/cccfc406b66989c9a031c4783085a1c3d06d0b8e/okta/user.go#L621) description stays that:

Is that description correct (is the operation really async)? The official [api documentation](https://developer.okta.com/docs/reference/api/users/#deactivate-user) says that there is

[2021-09-08 16:24] noinarisak commented on #249
Hey @laura-rodriguez Do you think Engineering would consider this into our OpenAPI specs so the SDKs can take advantage of it?

[2021-11-02 15:59] monde commented on #259
@skrolikiewicz I missed this issue. That comment and the golang code is generated from the api spec file: https://github.com/okta/okta-management-openapi-spec/blob/master/resources/spec.yaml#L6728-L6760
We are in the process of switching over to a new spec definition. I'll be sure to make sure the wording is more precise.

[2021-11-02 16:24] monde commented on #259
@skrolikiewicz I'll try to get this into the 2.9.0 release https://github.com/okta/okta-management-openapi-spec/pull/98

[2021-11-02 16:49] monde commented on #249
The documentation for `/api/v1/org/factors` is in Beta now: https://developer.okta.com/docs/reference/api/factor-admin/

[2021-11-13 18:44] ymylei opened #268 "Support additional group profile properties"
Per https://developer.okta.com/docs/reference/api/groups/#custom-profile-properties:

The `OKTA_GROUP` class groups can now have extended profile attributes completely up to the user requirements. Are we able to update the group interfaces to support an arbitrary map of custom group profile attributes, while keeping the "default" attributes and interface relatively unchanged?

[2021-11-16 15:40] monde commented on #268
@ymylei I will take a look and give you an answer later today.

[2021-11-16 17:14] monde opened #269 "properly cache bearer tokens"
Bearer tokens should be cached regardless of any caching manager that okta-sdk-golang client is instantiated with. This is feed back from the terraform provider: https://github.com/okta/terraform-provider-okta/issues/805

[2021-11-16 18:49] monde commented on #269
prior art:
- https://github.com/okta/okta-sdk-golang/pull/140
- https://github.com/okta/okta-sdk-golang/pull/213

Having the okta client have an opinion about caching bearer token is probably a breaking change.

[2021-11-18 04:11] ymylei commented on #268
This seems like the generator should work OK:

The `GroupProfile` is defined at: https://github.com/okta/okta-management-openapi-spec/blob/bf41db85968b6a189cb9f56b2c5ceed194fd8356/resources/spec.yaml#L10006

The `UserProfile` is defined at: https://github.com/okta/okta-management-openapi-spec/blob/bf41db85968b6a189cb9f56b2c5ceed194fd8356/resources/spec.yaml#L15113

I don't see anything where the i

[2021-11-18 04:18] ymylei commented on #268
Actually I think I figured out the why here, it looks like there is an override in place for the `UserProfile` model: https://github.com/okta/okta-sdk-golang/blob/8b91031c61c1cbd215ecfddc42a53c9cfdfe910c/openapi/generator/templates/model.go.hbs#L5

I think this will have to be replicated for the `GroupProfile` model.

[2021-11-18 04:23] ymylei commented on #268
Looks like the python generator is also using overrides for the `UserProfile` model: https://github.com/okta/okta-sdk-python/blob/master/openapi/templates/model.py.hbs

[2021-11-18 21:59] gbhatiaRV opened #270 "I am not able to use ListUsers in user.go"
I am not able to use ListUsers function using search queryParam.
 My queryString is correct here as I am able to get results when I am hitting the API with postman.

url I am passing is - /api/v1/users?search=profile.proxyAddresses+eq+"email Address"
Below code is returning just this message "{"level":"info","msg":"The API returned an error: "}"

req, err := m.client.requestExecutor.NewRequest("GE

[2021-11-19 08:09] bogdanprodan-okta commented on #270
Hi @gbhatiaRV! Thanks for submitting this issue! Do you have `proxyAddresses` profile property defined for your users?
I've tried this and it works fine, because `profile.lastName` is standard profile attribute
[code]
More info [here](https://developer.okta.com/docs/reference/api/users/#list-users-with-search)

[2021-11-20 00:32] monde commented on #268
Apologies (again) for the late reply @ymylei .

Check this branch out, is this what you'd like to see on the group profile?:
https://github.com/okta/okta-sdk-golang/compare/group_profile_interface

[2021-11-23 16:46] gbhatiaRV commented on #270
Yes, this property is set. I am able to get the results when I hit it through postman.

[2021-11-23 16:54] bogdanprodan-okta commented on #270
@gbhatiaRV I've tried this and it worked fine:
[code]

[2021-11-24 16:40] gbhatiaRV commented on #270
Thanks for your help @bogdanprodan-okta. Got it resolved and it is working now.
Thank You!

Issue was:
1. I was using "+" in Search query
2. I used url.QueryEscape in front of query and it worked

[2021-11-24 16:40] #270 closed

[2021-11-29 18:47] rlewis-grax commented on #268
Hi All. Sorry to jump in out of the blue, but I have a project blocked by this exact requirement. The proposal above by monde is exactly the behavior I would expect (both for consistency and extensibility) for group attributes.

[2021-11-29 22:22] monde commented on #268
@ymylei @rlewis-grax , in speaking with @bogdanprodan-okta , he points out that at this point in okta-sdk-golang's `2.*.*` history, randomly changing the type of `GroupProfile` from a struct to a map string interface is a backwards compatibility breaking change. Developer Experience at Okta places a premium on maintaining backwards compatibility.

Side note: There will be a `3.0.0` release of okta

[2021-11-29 22:38] rlewis-grax commented on #268
This satisfies my use case. Thanks for the speedy response y'all.

[2021-11-30 00:42] monde commented on #268
I'll have @bogdanprodan-okta look at my PR #272 with these changes when he gets in.

[2021-11-30 16:56] monde commented on #268
Just released [v2.9.2](https://github.com/okta/okta-sdk-golang/releases/tag/v2.9.2) with these accommodating types. Thanks for the input @ymylei @rlewis-grax

[code]

[2021-11-30 16:56] #268 closed

[2021-12-01 15:47] ymylei commented on #268
@monde Cheers! Yea I think this makes sense for now, personally I think y'all may want to consider moving to a standard/custom struct where you have:
[code]

[2021-12-01 17:31] monde commented on #268
@ymylei I'll keep that in mind when we roll out v3.0.0, thanks for the feedback.

[2021-12-13 06:42] c0d3r-arnab opened #274 "Get application API call from okta server fails through go-sdk"
### Describe the bug?

The function [GetApplication](https://pkg.go.dev/github.com/okta/okta-sdk-golang/v2@v2.9.2/okta#ApplicationResource.GetApplication) of okta package fails to fetch details of a specific application. It makes a GET request to `{{url}}/api/v1/apps/{{appId}}` and then fails to unmarshal object into Go value of type `okta.App`.

### What is expected to happen?

The API call shoul

[2021-12-13 14:53] bretterer commented on #274
Thank you for the report @c0d3r-arnab .  The information provided will help us a lot, but I need a couple more bits of information related to the application.

- Can you provide me with the type of application you are trying to access.
- Can you do a cURL call to the endpoint and paste the response here? (feel free to remove any private information)
- A stack trace may also be of use if possible.

[2021-12-14 06:39] c0d3r-arnab commented on #274
Hello @bretterer! Thank you for the quick response.

- Can you provide me with the type of application you are trying to access.
I believe I have API services. Please find the response for all the applications I have in the attached zip file. I hope that will provide some clarity.

- Can you do a cURL call to the endpoint and paste the response here?
You will find the curl response for the GET API

[2021-12-15 18:42] monde commented on #274
@c0d3r-arnab thanks for the Responses.zip, that is really helpful. I just want to make sure the json in `list_apps.json` is the actual data returned for the curl command in the `get_curl.txt` log. If you notice in your log the curl command is indeed calling the get application API endpoint `https://${url}/api/v1/apps/${id}` but the json in the `list_apps.json` is an array of all the applications o

[2021-12-16 06:19] c0d3r-arnab commented on #274
Hello @monde!! Thank you for the clarification. The list response I gave was for the API call: `{{url}}/api/v1/apps`. I could not get the GET API call running via GO SDK. So I provided the list of all the apps that I have and a curl response for the GET call.

However, after looking at your test case code, I made some changes to my code and I have been able to make it work. Here is my current code

[2021-12-16 18:52] monde commented on #274
Hi @c0d3r-arnab

`okta.App` is and interface https://github.com/okta/okta-sdk-golang/blob/master/okta/application.go#L29-L31

And `okta.BasicAuthApplication` implements that interface https://github.com/okta/okta-sdk-golang/blob/master/okta/basicAuthApplication.go#L25-L53

`okta.NewBasicAuthApplication()` returns a pointer of `okta.BasicAuthApplication`, therefore, you can pass it as a parameter o

[2021-12-17 05:50] c0d3r-arnab commented on #274
@monde Thank you for the explanation. I do not have any further queries.

[2022-01-05 14:21] ndyment opened #275 "Readme is outdated"
### Describe the bug?

After attempting to use the readme to build some integrations I have noticed the code snippets appear to be based on v1 of the API, which is being deprecated, and not v2.

I have not exhaustively checked each sample, but the 2 that I tried required some rework.

- List users; uses the wrong signature in the sample
- Create user; uses the wrong signature in the sample

### Wh

[2022-01-06 17:02] arvindkrishnakumar-okta commented on #275
@MikeMondragon-okta can you help take a look please?

[2022-01-06 20:46] monde commented on #275
Thanks for pointing this out @ndyment . Can you give me a PR to improve the documentation? That would be a great way improve on the project and give back to the community. Thanks!

[2022-01-06 20:49] monde commented on #275
@ndyment strike that PR suggestion! @bretterer is in the process of updating the README. I'll close this issue since it is about to be updated.

[2022-01-06 20:57] bretterer commented on #275
@ndyment Thank you for your report here on the documentation. I have reviewed our docs and there are quite a few areas that need to be updated.  I am currently working on updating things from our end and should have a new copy of the readme out in the next few days.

Thank you for your patience and understanding

[2022-01-07 18:12] #275 closed

[2022-01-07 18:18] monde commented on #275
@ndyment the README has been cleaned up, @bretterer thanks for cleaning it up.

[2022-02-09 23:09] grantjoy commented on #127
This is still an issue. The instructions in the README are broken and the instructions on this ticket fixed it for me.

[2022-02-16 01:44] minwan opened #279 "Support IDP discovery action in Okta"
### Describe the feature request?

It is supported in API but not in SDK, could you add support for it in order to programmatically manage IDP discovery rules? thanks!

https://developer.okta.com/docs/reference/api/policy/#policy-action-object

### New or Affected Resource(s)

IdentityProviderDiscovery

### Provide a documentation link

_No response_

### Additional Information?

_No response_

[2022-02-16 14:02] laura-rodriguez commented on #279
Hi @minwan,

Thanks for your issue. I created an internal ticket to be prioritized by the team.

Internal Ref: [OKTA-471081](https://oktainc.atlassian.net/browse/OKTA-471081)

[2022-02-16 18:05] monde commented on #279
@minwan I trying to better understand the ask here. Can you show me an example of your API call and payload? I'm assuming you've already verified the behavior experimenting with curl/postman. I'm trying to see if okta-sdk-golang already supports what you are trying to do. Thanks

[2022-02-16 18:30] minwan commented on #279
Hi @monde, thanks for quick attention on this issue, here is a sample request

POST /api/v1/policies/<redacted>/rules HTTP/1.1
Accept: application/json
Content-Type: application/json
Authorization: SSWS <redacted>
User-Agent: PostmanRuntime/7.28.4
Postman-Token: <redacted>
Host: <redacted>
Accept-Encoding: gzip, deflate, br
Connection: keep-alive
Content-Length: 650
Cookie: JSESSIONID=<redacted>

[2022-02-16 19:00] monde commented on #279
@minwan I think you can get there with `CreatePolicyRule` https://github.com/okta/okta-sdk-golang/blob/master/okta/policy.go#L142-L164 and `NewIdentityProviderPolicy` https://github.com/okta/okta-sdk-golang/blob/master/okta/identityProviderPolicy.go#L44-L48

[code]

[code]

[2022-02-16 19:41] monde commented on #279
Apologies @minwan, I referenced the wrong struct and code.

Have you tried creating a `PolicyRule` https://github.com/okta/okta-sdk-golang/blob/master/okta/policyRule.go#L29-L40 struct that is a parameter to `CreatePolicyRule`? The `PolicyRule` has `Actions` on it, etc.

[code]

something like
[code]

Let me know.

[2022-02-16 20:19] minwan commented on #279
Yes, but again PolicyRuleActions does not support IDP actions, which is the ask here.

[2022-02-16 20:53] monde commented on #279
ok, I see the ask now @minwan

This is our spec to generate the code for `PolicyRuleActions` https://github.com/okta/okta-management-openapi-spec/blob/master/dist/spec.yaml#L13813-L13827:
[code]

and it needs an action for idp, something like:

[code]

With that, our golang code generation would get a `IdpPolicyRuleAction`.

We are in the process of changing how we manage our API spec and code gen

[2022-02-16 20:59] minwan commented on #279
Thanks, @monde it would be great if we can get a V2 patch since we've been using V2 in many production flows and trying to reduce the upgrade cost.

[2022-02-16 21:26] monde commented on #279
All right @minwan , we'll be doing a `v2.11.0` release with the update for `IdpPolicyRuleAction`. I should have something with a day.

[2022-02-17 01:20] monde commented on #279
@minwan can you double check these models for me? `IdpPolicyRuleAction` and `IdpPolicyRuleActionProvider`
https://github.com/okta/okta-sdk-golang/pull/280

I'm waiting for feedback from the SDK owners feedback in Okta DevEx

[2022-02-21 19:00] tgoodsell-tempus opened #281 "Create User with email different from logon fails unexpectedly"
### Describe the bug?

I believe this is primarily an API bug, however since I'm using the `golang` sdk for this I'll also paste this here while I work on a support case of my own.

When I attempt to create a user in Okta where I'm setting a different `email` value from the `logon` value, it's clear that is not being accepted correctly upstream. The actual "error" I'm receiving is a duplicate user

[2022-02-21 22:37] tgoodsell-tempus commented on #281
Added a full response example in here, mainly for my own tracking

[2022-02-22 09:33] bogdanprodan-okta commented on #281
Hi, @tgoodsell-tempus! Thanks for submitting this issue! I'll try to find a team responsible for this functionality, maybe the can give more context of what is going on.

[2022-02-22 13:27] tgoodsell-tempus commented on #281
@bogdanprodan-okta, I'll close this as I got resolution from Okta support, this was related to a hidden feature flag for self-service registration.

Specifically:
[code]

In my case, the `self-service registration` page had already been showing as disabled, so I had to have the support team disable the other flags for me.

[2022-02-22 13:27] #281 closed

[2022-02-22 15:19] abustany opened #282 "Broken install?"
### Describe the bug?

When trying to build an app against the Okta SDK:

[code]

now if I understand go's command line correctly, the correct command here would be `go get`, not `go install` (we're not installing an executable into our `GOPATH`, we're just adding modules to our project). So let's try that instead:

[code]

[2022-02-22 15:32] bogdanprodan-okta commented on #282
Hi, @abustany! Thanks for submitting this issue! Could you try  `go mod tidy` before running `go build main.go`?

[2022-02-22 15:49] abustany commented on #282
Hi Bogdan, thanks for the quick answer. `go mod tidy` fixes it indeed - do you have any idea why it's needed?

[2022-02-22 17:17] bogdanprodan-okta commented on #282
If you just do `go get github.com/okta/okta-sdk-golang/v2@latest`, then `require github.com/okta/okta-sdk-golang/v2 v2.10.1 // indirect` will be added. However, you need all the other `indirect` dependencies to be present in the mod file, that's why you need to run `go mod tidy`.

[2022-02-22 17:33] abustany commented on #282
Right, I understand what `go mod tidy` did, I just don't understand why it's needed with the Okta SDK and not with other modules I also installed using `go get` :thinking: In any case, it also seems like the instructions in the README need to be fixed?

[2022-02-22 19:43] monde commented on #282
I'll try and get notes into the upcoming v2.11.0 release from this issue.

[2022-02-22 19:45] monde commented on #279
There will be more bits in a v2.11.0 release, including email templates, waiting for the openapi spec https://github.com/okta/okta-management-openapi-spec/pull/117 to be released.

[2022-02-22 20:31] monde commented on #282
The incorrect info in the README about `go install` is from me and will be removed in the next release v2.11.0 https://github.com/okta/okta-sdk-golang/commit/ad06cea0c65b3da82a4197fddd6dac8fbe3f5647#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R64-R76

[2022-02-22 20:31] #282 closed

[2022-02-22 21:43] minwan commented on #279
Thanks, @monde for the quick addition! I think we can wait for the release but will also try the branch out first.

[2022-02-25 22:26] monde commented on #279
ok @minwan v2.11.0 is released https://github.com/okta/okta-sdk-golang/releases/tag/v2.11.0

[2022-02-25 22:26] #279 closed

[2022-03-05 12:06] Nick-Triller opened #284 "Stale cached list responses"
### Describe the bug?

Cached list responses are not invalidated when an item is deleted, modified or created.

### What is expected to happen?

List calls should not return stale items after delete / update / create calls.

### What is the actual behavior?

List calls return stale items after delete / update / create calls.

### Reproduction Steps?

In a program using the SDK, perform the followi

[2022-03-07 17:56] monde commented on #284
@Nick-Triller how fast are you doing this list, delete, list operation? You might have experienced a replication lag in Okta's core RDMS, but I'm waiting to hear internally what a reasonable replication lag might be.

[2022-03-07 18:00] ntriller-plaid commented on #284
@monde Are you sure there is no client side caching? Instantiating the client with [okta.WithCache(false)](https://github.com/okta/okta-sdk-golang/blob/acdc6d6a468bfb64892d211ff38902da062be7cb/okta/config.go#L70) fixed the issue for me. It seems the cache is read / written in https://github.com/okta/okta-sdk-golang/blob/master/okta/requestExecutor.go#L250

[2022-03-07 18:30] monde commented on #284
@Nick-Triller I was not aware of the caching in the request executor, apologies on my false assertion about caching. That caching code seems complicated and can't defend against operation done in parallelism. I will look into this further. Also, we have seen internal integration tests in the Okta SDKs experience replication issues from Okta core, so I'm looking for some internal experience on what

[2022-03-09 17:32] monde commented on #284
@Nick-Triller follow up. I did hear back internally. The Okta core does reads against db read replicas. So, if you have okta-sdk-golang in cache false mode (which is the default without setting it) [okta.WithCache(false)](https://github.com/okta/okta-sdk-golang/blob/acdc6d6a468bfb64892d211ff38902da062be7cb/okta/config.go#L70) you might experience an inconsistency between a delete and subsequent re

[2022-03-09 17:41] Nick-Triller commented on #284
Thanks for getting back to me! Small correction, the cache is enabled by default according to [okta.go](https://github.com/okta/okta-sdk-golang/blob/65b07d6dbc17c0a9344cd050666c7fef73be6100/okta/okta.go#L168). I agree there is a bug in the invalidation, the endpoint for listing something is `/something/` while create / delete is `/something/<id>`, so the cache keys are different.

[2022-03-09 17:52] monde commented on #284
🤦 https://github.com/okta/okta-sdk-golang/blob/master/okta%2Fokta.go#L168
[code]

[2022-03-09 20:52] monde commented on #284
@Nick-Triller working on this issue as helped me get better acquainted with okta-sdk-golang. I have an update for the README that will go in the next release that explains the config setter and the client's default settings.

That said, there isn't a bug in the memory cache. As the cache is simple; if you are using the memory cache and do a list operation, then delete an item that would be in that

[2022-03-09 20:52] #284 closed

[2022-03-30 12:30] mimatache opened #286 "Action `appSignOn` missing from * okta/policyRuleActions.go#PolicyRuleActions *"
### Describe the bug?

When using the `client.Policy.ListPolicyRules(ctx, "policyID")` the `appSignOn` attribute is missing from the Go struct, even though it is present in the JSON Response.
Looking at the struct used to return the body, this attribute/tag is missing from the representation:
[code]

### What is expected to happen?

I expect the Go structs to match the JSON Response received from

[2022-03-30 15:59] monde commented on #286
@mimatache we are working on a patch update on our SDKs, I'll see if I can get this in also.

[2022-03-30 16:22] monde commented on #286
@mimatache can you give me a sample of the JSON you are seeing and little bit more of your code? In the API spec that all of our SDKs are generated from there is a `AccessPolicyRuleActions` with a `appSignOn` property, see  https://github.com/okta/okta-management-openapi-spec/blob/master/resources/spec.yaml#L11756-L11763 . `AccessPolicyRuleActions` is a child of `PolicyRuleActions`

Here are the r

[2022-03-30 17:55] mimatache commented on #286
Hello @monde ,

Glad to see such a quick response from  👍 .

I hope this is all the information you requested

From an API call with Postman to the URI `${orgAccount}/api/v1/policies/${somePolicyID}/rules/${ruleID}` I get the following response:
[code]

As for the code, here is a test that gives the same results as the code I am using:
[code]

As for the [`AccessPolicyRule`](https://github.com/okt

[2022-03-30 20:45] monde commented on #286
Just posting this up for other looking for sample code ...
[code]

[2022-03-30 21:03] monde commented on #286
Ok, @mimatache I had to refresh memory of the architecture of the okta-sdk-golang. Basically, it is half polymorphic (on the write), in that if you created an access policy rule like:

[code]
you can the call update policy rule with that access policy rule, something like
[code]
It isn't polymorphic on the read, which is what I thought it would do, but can see that it doesn't.
We'd need something

[2022-03-31 07:47] mimatache commented on #286
Thank you for the update. I can probably work around this issue at this point.
Regarding the API spec update and release of v3.0.0, is there a roadmap, or some information which would allow us to get a better understanding of the changes to some?

[2022-03-31 16:23] monde commented on #286
v3 of the Okta API spec will be supported in golang in the next couple of months. I marked the issue with a v3 label and will keep it open to mark that we should address this then. The Okta Java SDK has a beta out now https://github.com/okta/okta-sdk-java/releases/tag/okta-sdk-root-9.0.0-beta so know that this is a high priority in Okta Developer Experience team. My time is getting pulled between

[2022-04-13 22:46] tgoodsell-tempus opened #290 "Type for Query Param "provider" not always correct"
### Describe the bug?

In the SDK, the query param for the `Provider` is set as a bool. This makes sense in the context of the create user API calls (https://developer.okta.com/docs/reference/api/users/#create-user-with-authentication-provider).

However, in a "Reset Password" API call, particularly for converting a user to a federated user, this needs to be the value "FEDERATION" (https://develop

[2022-04-13 22:53] monde commented on #290
Thanks for the details @tgoodsell-tempus and steps to reproduce. I will look into this.

[2022-04-14 18:58] tgoodsell-tempus commented on #290
@monde Here is some test results I did using Postman:
[code]

[code]

[2022-04-14 21:11] monde commented on #290
@tgoodsell-tempus the fix for this in PR #289 which will hopefully be released tomorrow/Friday as v2.12.0

[2022-04-15 22:28] monde commented on #290
Released in v2.12.0

[2022-04-15 22:28] #290 closed

[2022-04-20 03:54] pputman12 opened #292 "client.Group.ListAssignedApplicationsForGroup returns an application properly, but gives error for nonexistent index"
### Describe the bug?

<img width="712" alt="image" src="https://user-images.githubusercontent.com/840282/164146703-1afa7f6e-40c2-48b1-99a1-ef585dc7afbf.png">
When trying to call ListAssignedApplicationsForGroup, I get an error:
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/840282/164146740-4980178c-9213-4fc4-b5b4-02c954426997.png">
I'm writing a test that creates an

[2022-04-20 16:08] monde commented on #292
@pputman12 thanks for giving me a head start into debugging this. I will look into it.

[2022-04-20 17:22] monde commented on #292
Just checking @pputman12, did you close this ticket inadvertently? I'm going to write some code to see if I can repo this in my dev env.

[2022-04-20 17:37] pputman12 commented on #292
I didn't close it inadvertently it was intentionally, I was mistaken about
the problem.

On Wed, Apr 20, 2022 at 12:22 PM Mike Mondragon ***@***.***>
wrote:

[2022-04-20 17:49] monde commented on #292
ok, no problem! I have new integration test to add to the next release 😄

[2022-04-20 17:49] #292 closed

[2022-04-20 18:36] pputman12 commented on #292
I was mistaken because I made a new integration test for something I'm
doing in okta, and it caused this error.  But the problem wasn't with this
module, somehow when I run this new test, it triggers an error with an
empty slice returning from a similar method in a different test.  If I run
each test separately, I can't reproduce it, but can reproduce it every time
if I run each test together, I'l

[2022-04-20 18:48] pputman12 opened #293 "Error when running Integration tests on client.Group.ListGroupUsers"
### Describe the bug?

This is hard to describe and its very confusing.  I have two integration tests I'm writing for Terraform with Okta.  The bug happens with this code:
<img width="686" alt="image" src="https://user-images.githubusercontent.com/840282/164300061-4e81a404-6ab5-456e-b258-e3aa79710246.png">
This code is my workaround, to keep retrying to run client.Group.ListGroupUsers if it return

[2022-04-20 19:22] monde commented on #293
@pputman12 try setting up your okta client with query caching disabled and tell me what you find:

[code]

[2022-04-20 19:23] monde commented on #293
fwiw, here is the `ListAssignedApplications` integration test I added after the #292 discussion https://github.com/okta/okta-sdk-golang/pull/294

[2022-04-21 00:23] pputman12 commented on #293
setting up false with caching worked, thank you so much, I was genuinely confused.

[2022-04-21 15:11] monde commented on #293
Same for me. Our [Okta Terraform Provider](https://github.com/okta/terraform-provider-okta) runs okta-sdk-golang w/o query caching so I get used to that and forgot about the query caching fighting that PR I referenced.

[2022-04-21 18:35] pputman12 commented on #293
Yeah, I'm writing unit and integration tests for some okta modules I made
with terratest golang library.  But this was a big help, I really
appreciate your quick response.

On Thu, Apr 21, 2022 at 10:11 AM Mike Mondragon ***@***.***>
wrote:

[2022-04-22 04:27] pputman12 commented on #293
So I tested this a few more times, and sometimes it works, other times it
fails with the same issue, so it looks like setting the cache to false
didn't resolve it.  Is there anything else I can try?

On Thu, Apr 21, 2022 at 1:35 PM Patrick Putman ***@***.***>
wrote:

[2022-04-22 19:29] pputman12 commented on #293
@monde can we reopen this?  I'm still seeing the problem, its just intermittent.

[2022-04-25 16:05] ghost opened #296 "Struct `Group` is not goroutine safe"
### Describe the bug?

Hi, trying to pass Group to several goroutines, which some of them try to Marshal it, results in `fatal error: concurrent map writes`. It seems like the cause is this, under `GroupProfile.MarshalJSON()`:
[code]
<img width="421" alt="image" src="https://user-images.githubusercontent.com/78377228/165126319-626fe440-b175-46d1-bc8e-2c2ee5c48867.png">

Thanks!

### What is expect

[2022-04-26 00:36] pputman12 opened #297 "Request to reopen issue #293"
### Describe the bug?

Please see issue #293 While I thought this was fixed, its because its intermittent.  testing several more times with query caching disabled, and still receiving the same issue.

### What is expected to happen?

See issue #293

### What is the actual behavior?

See issue #293

### Reproduction Steps?

Please see issue #293

### Additional Information?

_No response_

### Gola

[2022-05-02 22:33] bfrisbie-brex opened #299 "ListApplications does Not return `client_id` for oidc_client's"
### Describe the bug?

Calling the `ListApplications` function in the Golang SDK returns a list of Applications as expected. However, metadata about these applications are missing from the results.

In particular, OIDC clients/application do Not have their client ID's listed in the results. This is in contrast to calling `{{url}}/api/v1/apps?q=oidc_client ` via Postman, which does contain the clie

[2022-05-03 16:24] laura-rodriguez commented on #299
Hi @bfrisbie-brex,

Thanks for reporting this. Someone from our team will review it soon.

cc @monde

[2022-05-03 16:29] monde commented on #296
Apologies @boazshalom , I missed this issue. I will look into it.

[2022-05-03 16:31] monde commented on #297
I missed this issue @pputman12 , I will take a look at it again.

[2022-05-03 16:54] monde commented on #299
Hi @bfrisbie-brex , I missed seeing this issue. I can see what is going on, it is a side of effect from the general way the golang code is generated for the various list endpoints and golang serialization. In this case, the generated code for list applications is minimal, the response gives a slice of the [base application model](https://github.com/okta/okta-sdk-golang/blob/66ce9052167bc3da973e268

[2022-05-04 01:47] bfrisbie-brex commented on #299
@monde Thank you for your detailed and thoughtful reply 🙂
I agree with your description about what's happening. 👍

I _think_ the workaround you suggested should work for my team's needs, because our services will call `ListApplications` pretty infrequently. I'm following up with my team to see if they have any concerns, but for the time-being you can assume we will use the workaround until the glo

[2022-05-04 13:58] boazshalom commented on #296
All good @monde, thank you!

[2022-05-04 18:56] minwan commented on #299
@monde thanks for the reply, but the workaround does not work for us given we have thousands of applications. The context is we are migrating our API access management stack to Okta (with Enterprise version) and need a feature parity to list all applications and client id is the key for those applications. Is it possible to do a patch / schema update in V2?

[2022-05-04 19:13] monde commented on #299
@minwan can you open a support ticket https://support.okta.com/ so it is escalated internally for prioritization?

[2022-05-04 22:03] minwan commented on #299
thanks opened case 01383954

[2022-05-06 16:21] monde commented on #297
Re-opened #293 and will track work there

[2022-05-06 16:21] #297 closed

[2022-05-06 16:21] monde commented on #293
"While I thought this was fixed, its because its intermittent. testing several more times with query caching disabled, and still receiving the same issue."

[2022-05-11 13:27] chrishoffman opened #300 "VerifyFactor does not return `transaction_id` to use in GetFactorTransactionStatus"
### Describe the feature request?

While working with an MFA push factor, I was unable to easily initiate the push MFA request and then poll for the status. When you initiate the VerifyFactor request, a poll link is returned that can be used. The SDK method provided is GetFactorTransactionStatus which requires the transaction id of the verify request. I was able to work around this issue by parsin

[2022-05-12 00:47] aarongranick-okta commented on #300
@chrishoffman Thank you for the suggestion. I will pass this along to our backend engineers for investigation.

[2022-05-12 21:53] monde commented on #300
@chrishoffman your explanation is thorough and I'm glad to see how you are pulling the transaction id out of the information in the links map, that you are not blocked. That said, this code is auto generated from a swagger spec. I know that tweaking the generator to render this feature given all of the other work we have on the backlog for golang is going to be too expensive. I'm going to close th

[2022-05-12 21:53] #300 closed

[2022-05-16 20:21] chrishoffman commented on #300
@monde My only concern with this is that the polling URL construction may change in the future. I may abandon the parsing of URL and reimplement the method `GetFactorTransactionStatus` in my application. I also don't see a way that you can string together the calls to use `GetFactorTransactionStatus`.

[2022-05-17 16:25] AlyaEru opened #302 "Partial update user race condition losing updates"
### Describe the bug?

I strongly suspect this is actually a bug with the underlying API, and not the SDK, but okta support directed me here. See my [support case](https://support.okta.com/help/s/case/5004z00001eBQUMAA4/partial-update-user-race-condition-losing-updates?language=en_US).

Partial update requests to update user profile fields are not actually updating the profile fields in Okta. From

[2022-05-24 18:43] virgofx opened #304 "UserSchema.UpdateApplicationUserProfile JSON Unmarshall Error"
### Describe the bug?

Looks like there's an issue with `UpdateApplicationUserProfile` with specific requests/responses where JSON deserialization error occurs.

Surfaced from downstream Terraform provider (Ref: https://github.com/okta/terraform-provider-okta/issues/1087)

From Terraform:

`okta\resource_okta_app_user_custom_schema_property.go`
[code]

Results in:

[code]

### What is expected to

[2022-05-30 12:28] cedws opened #306 "Unsanitised endpoints string formatting"
### Describe the bug?

There are various methods in the SDK which take a string parameter and format an endpoint URL. Take this method for example:

https://github.com/okta/okta-sdk-golang/blob/3e873731bbcce66c8f44e7f8051166c8c17ed155/okta/user.go#L72-L91

A username is taken as a parameter and appended to `/api/v1/users/`. This could be an issue because the username is not sanitised. If the attac

[2022-05-30 14:13] laura-rodriguez commented on #306
Hi @cedws,

Thanks for reporting this issue. Someone from our team will review it soon.

cc @MikeMondragon-okta

[2022-06-08 05:23] virgofx commented on #304
Any chance we can get this slotted in the eng/dev cycle ? This is blocking our upstream Terraform version jump :(

[2022-06-10 23:54] monde commented on #304
@virgofx this is now the top item in my current sprint, fyi

[2022-06-14 23:55] monde commented on #304
fyi @virgofx https://github.com/okta/okta-sdk-golang/pull/312

[2022-06-14 23:56] monde commented on #304
I'm going to do a TF PR that uses this branch and see if this will help out on the schema bugs.

[2022-06-15 02:20] virgofx commented on #304
Thanks @monde - I'll test that TF PR branch as well to confirm, can you link me to the branch when you create it.

[2022-06-22 22:37] #181 closed

[2022-06-22 22:38] #154 closed

[2022-06-28 21:14] monde commented on #299
Additional notes:
`clientId` is on the `profile` property
https://developer.okta.com/docs/reference/api/apps/#oauth-2-0-based-provisioning-connection-profile-example .

`profile` property is defined as an object on the Application model https://github.com/okta/okta-management-openapi-spec/blob/master/resources/spec.yaml#L9292-L9346

When generated to golang code `profile` becomes an `interface{}`.

[2022-06-28 21:21] monde commented on #299
Golang code generation needs to have a specific case for `ListApplications` https://github.com/okta/okta-management-openapi-spec/blob/master/resources/spec.yaml#L31-L82 . When generating the ListApplications method it needs to inspect the `name` property on each application listed and look up the correct type to use in the output. We already do some juggling like this on `operationId` in the defau

[2022-07-05 18:14] timoreize opened #316 "Listing grants for app using a private key client is failing with invalid session"
### Describe the bug?

I'm creating a client with the following values:

[code]

And when I call `client.Application.ListScopeConsentGrants(ctx, appID, nil)` I receive the `Invalid Session` error.

When I Create the client with SSWS token:

[code]

I get the grants as expected.

### What is expected to happen?

Receive a non-error response with the grants for an application

### What is the actual

[2022-07-24 19:21] boazshalom commented on #296
Hi @monde, any update please?

[2022-07-25 17:12] monde commented on #296
I'll try to carve out some time for this @boazshalom , thanks for the ping.

[2022-07-26 19:19] monde commented on #296
@boazshalom I started looking at this and working on a PR. Is your code writing to `GroupProfileMap` as well? I'm not seeing how the existing implementation in `MarshalJSON()` would be causing this unless you were making many concurrent API calls with the same group. Seems like you wouldn't want to be calling the API like that, but I'd have to see your implementation to improve my impression. Howe

[2022-07-27 17:56] monde commented on #296
@boazshalom @ymylei I think my #268 PR is over kill. I think I will put up a new PR with mutex around https://github.com/okta/okta-sdk-golang/blob/master/okta/groupProfile.go#L60-L65 and also leave a comment about developers making use of `GroupProfiles`'s `GroupProfilesMap`  needing to also put a mutex around their implementation.
cc: @duytiennguyen-okta

[2022-08-07 02:51] ymylei commented on #296
@monde Based on my reading of https://pkg.go.dev/sync#Map this does seem overkill for this data set. Particularly, I don't see how this data class in particular would need to be made go routine safe, versus this is something which needs larger attention in the library (such as altering this for the UserProfile object as well).

@boazshalom I'd be curious if you'd be able to share the use case you'

[2022-08-15 21:48] monde commented on #269
Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-519225

[2022-08-30 16:36] monde commented on #269
fix released in v2.14.0 https://github.com/okta/okta-sdk-golang/releases/tag/v2.14.0

[2022-08-30 16:36] #269 closed

[2022-08-30 16:48] monde commented on #316
@timoreize apologies for a slow reply. Did you work through this issue? If you are using an oauth token via privatekey I wonder if that token has the proper scopes assigned to it for a `GET /api/v1/apps/{appId}/grants` that the SDK is calling in `ListScopeConsentGrants`. I believe the required scope would be `okta.apps.read`. https://developer.okta.com/docs/reference/api/apps/#list-scope-consent-g

[2022-09-06 12:55] noizecamp opened #326 "Update and Get IdentityProvider (SAML2) does not give updated information for 5 mins"
### Describe the bug?

Update and Get IdentityProvider (SAML2) does not give updated information for 5 mins. It is not due to the memory cache. We have turned off the cache at the SDK level. This looks like a sever-side issue.

### What is expected to happen?

Get Identity Provider API gives the latest information,

### What is the actual behavior?

The latest data reflect only after 5 mins.

###

[2022-10-25 18:24] monde commented on #299
ping, me

[2022-11-29 00:04] burimbd opened #349 "Configuration is not read from the `.okta.yaml` file in the application or project's root directory"
### Describe the bug?

The configuration reader for the `.okta.yaml` file does not read in the applications or project's root directory `APPorProjectRootDir`, but instead get the file from the directory where the `github.com/okta/okta-sdk-golang/v2@v2.14.0` is installed. In my case it tries to get the config file from  "~/go/pkg/mod/github.com/okta/okta-sdk-golang/v2@v2.14.0/.okta.yaml".

### What

[2022-11-29 00:52] burimbd opened #351 "Issue with private key authentication when key is generated from the Okta admin portal"
### Describe the bug?

When I generate a public/private key pair in the application page on the okta admin portal, the pem version of the generated Key is as follows:
`
-----BEGIN PRIVATE KEY-----
redacted
-----END PRIVATE KEY-----
`
However, the sdk expects the private key to be of the following format:
`
-----BEGIN RSA PRIVATE KEY-----
redacted
-----END RSA PRIVATE KEY-----
`
This means that I c